In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
import chart_studio
import chart_studio.plotly as py
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.impute import SimpleImputer
import statsmodels.api as sm
import scipy.stats as stats
import os
import chart_studio.tools

In [8]:
chart_studio.tools.set_credentials_file(username='bikerdouglas', api_key='rGRSQ7yA1eqDryDgGEEl')

In [9]:
world = pd.read_csv('/Users/michaelphillipacosta/dai/projects/religion_crimes_2/data/world_data.csv')

In [11]:
rel_restricts = pd.read_stata('/Users/michaelphillipacosta/dai/projects/Religious-Restrictions-and-Crime-Rates/data/relig_restrict_2007to2016.dta')

In [13]:
countryScope = {
    "AUT": ["Austria"],
    "ALB": ["Albania"],
    "AND": ["Andorra"],
    "AFG": ["Afghanistan"],
    "AGO": ["Angola"],
    "AZE": ["Azerbaijan"],
    "ARG": ["Argentina"],
    "DZA": ["Algeria"],
    "ATG": ["Antigua and Barbuda"],
    "BHS": ["Bahamas"],
    "BRB": ["Barbados"],
    "ARM": ["Armenia"],
    "BLZ": ["Belize"],
    "BHR": ["Bahrain"],
    "BEL": ["Belgium"],
    "AUS": ["Australia"],
    "BEN": ["Benin"],
    "BRN": ["Brunei"],
    "BWA": ["Botswana"],
    "BGD": ["Bangladesh"],
    "BTN": ["Bhutan"],
    "BGR": ["Bulgaria"],
    "KHM": ["Cambodia"],
    "BLR": ["Belarus"],
    "BOL": ["Bolivia"],
    "BFA": ["Burkina Faso"],
    "CAN": ["Canada"],
    "BIH": ["Bosnia-Herzegovina", "Bosnia and Herzegovina"],
    "CAF": ["Central African Republic"],
    "BDI": ["Burundi"],
    "CHN": ["China", "PRC China"],
    "BRA": ["Brazil"],
    "TCD": ["Chad"],
    "COG": ["Republic of the Congo", "Congo"],
    "COM": ["Comoros"],
    "CMR": ["Cameroon"],
    "DNK": ["Denmark"],
    "COD": ["Democratic Republic of the Congo"],
    "CUB": ["Cuba"],
    "CPV": ["Cape Verde"],
    "DJI": ["Djibouti"],
    "CRI": ["Costa Rica"],
    "CZE": ["Czech Republic", "Czechia"],
    "CHL": ["Chile"],
    "DMA": ["Dominica"],
    "CIV": ["Ivory Coast"],
    "ECU": ["Ecuador"],
    "COL": ["Colombia", "Colombia (Medellin)"],
    "DOM": ["Dominican Republic"],
    "ERI": ["Eritrea"],
    "SLV": ["El Salvador"],
    "HRV": ["Croatia"],
    "GAB": ["Gabon"],
    "EST": ["Estonia"],
    "FJI": ["Fiji"],
    "CYP": ["Cyprus"],
    "GMB": ["Gambia"],
    "ETH": ["Ethiopia"],
    "FRA": ["France"],
    "EGY": ["Egypt"],
    "GEO": ["Georgia"],
    "GRD": ["Grenada"],
    "GHA": ["Ghana"],
    "GNQ": ["Equatorial Guinea"],
    "HTI": ["Haiti"],
    "IRQ": ["Iraq"],
    "GRC": ["Greece"],
    "FIN": ["Finland"],
    "HND": ["Honduras"],
    "IRL": ["Ireland"],
    "GTM": ["Guatemala"],
    "DEU": ["Germany", "German Federal Republic"],
    "HKG": ["Hong Kong"],
    "ISR": ["Israel"],
    "GNB": ["Guinea-Bissau"],
    "GIN": ["Guinea"],
    "KAZ": ["Kazakhstan"],
    "LBN": ["Lebanon"],
    "ISL": ["Iceland"],
    "GUY": ["Guyana"],
    "KEN": ["Kenya"],
    "LSO": ["Lesotho"],
    "IDN": ["Indonesia"],
    "HUN": ["Hungary"],
    "KIR": ["Kiribati"],
    "LBR": ["Liberia"],
    "JAM": ["Jamaica"],
    "IND": ["India"],
    "KSV": ["Kosovo"],
    "LBY": ["Libya"],
    "JOR": ["Jordan"],
    "IRN": ["Iran"],
    "MDG": ["Madagascar"],
    "MRT": ["Mauritania"],
    "KWT": ["Kuwait"],
    "ITA": ["Italy"],
    "MWI": ["Malawi"],
    "MUS": ["Mauritius"],
    "LAO": ["Laos"],
    "JPN": ["Japan"],
    "MYS": ["Malaysia"],
    "MEX": ["Mexico"],
    "LTU": ["Lithuania"],
    "KGZ": ["Kyrgyzstan"],
    "LVA": ["Latvia"],
    "LIE": ["Liechtenstein"],
    "LUX": ["Luxembourg"],
    "MKD": ["Republic of Macedonia", "North Macedonia"],
    "MLI": ["Mali"],
    "MHL": ["Marshall Islands"],
    "MDA": ["Moldova"],
    "MNG": ["Mongolia"],
    "NRU": ["Nauru"],
    "NLD": ["Netherlands", "The Netherlands"],
    "NER": ["Niger"],
    "PSE": ["Palestinian territories", "Palestine"],
    "PNG": ["Papua New Guinea"],
    "KNA": ["St. Kitts and Nevis"],
    "SRB": ["Serbia"],
    "SLE": ["Sierra Leone"],
    "KOR": ["South Korea"],
    "LKA": ["Sri Lanka"],
    "CHE": ["Switzerland"],
    "TWN": ["Taiwan"],
    "TON": ["Tonga"],
    "TUN": ["Tunisia"],
    "ARE": ["United Arab Emirates"],
    "USA": ["United States", "The USA", "USA", "United States of America"],
    "VEN": ["Venezuela"],
    "SSD": ["South Sudan"],
    "MAC": ["Macau", "Macao"],
    "MLT": ["Malta"],
    "FSM": ["Federated States of Micronesia", "Micronesia"],
    "MCO": ["Monaco"],
    "NAM": ["Namibia"],
    "NPL": ["Nepal"],
    "NGA": ["Nigeria"],
    "PLW": ["Palau"],
    "PAN": ["Panama"],
    "PRT": ["Portugal"],
    "QAT": ["Qatar"],
    "LCA": ["St. Lucia"],
    "VCT": ["St. Vincent and the Grenadines"],
    "SEN": ["Senegal"],
    "SYC": ["Seychelles"],
    "SGP": ["Singapore"],
    "ZAF": ["South Africa"],
    "ESP": ["Spain", "Spain (Murcia)"],
    "SYR": ["Syria"],
    "TJK": ["Tajikistan"],
    "TTO": ["Trinidad and Tobago"],
    "TUR": ["Turkey"],
    "UKR": ["Ukraine"],
    "GBR": ["United Kingdom", "Northern Ireland"],
    "VNM": ["Vietnam"],
    "ESH": ["Western Sahara"],
    "MDV": ["Maldives"],
    "MNE": ["Montenegro"],
    "MAR": ["Morocco"],
    "MOZ": ["Mozambique"],
    "MMR": ["Burma (Myanmar)", "Myanmar"],
    "NOR": ["Norway"],
    "OMN": ["Oman"],
    "PAK": ["Pakistan"],
    "ROU": ["Romania"],
    "RUS": ["Russia"],
    "RWA": ["Rwanda"],
    "SVK": ["Slovakia"],
    "SVN": ["Slovenia"],
    "SLB": ["Solomon Islands"],
    "SOM": ["Somalia"],
    "TZA": ["Tanzania"],
    "THA": ["Thailand"],
    "TLS": ["Timor-Leste"],
    "TGO": ["Togo"],
    "URY": ["Uruguay"],
    "UZB": ["Uzbekistan"],
    "VUT": ["Vanuatu"],
    "NZL": ["New Zealand"],
    "NIC": ["Nicaragua"],
    "PRY": ["Paraguay"],
    "PER": ["Peru"],
    "PHL": ["Philippines"],
    "POL": ["Poland"],
    "WSM": ["Samoa"],
    "SMR": ["San Marino"],
    "STP": ["Sao Tome and Principe"],
    "SAU": ["Saudi Arabia"],
    "SDN": ["Sudan"],
    "SUR": ["Suriname"],
    "SWZ": ["Swaziland"],
    "SWE": ["Sweden"],
    "TKM": ["Turkmenistan"],
    "TUV": ["Tuvalu"],
    "UGA": ["Uganda"],
    "YEM": ["Yemen"],
    "ZMB": ["Zambia"],
    "ZWE": ["Zimbabwe"]
    }

def standardizeCountryNames(df, country_col, country_scope):
    standardized_countries = {}
    for iso_code, names in country_scope.items():
        for name in names:
            standardized_countries[name.lower()] = iso_code
    df[country_col] = df[country_col].str.lower().map(standardized_countries).fillna(df[country_col])
    return df

# Standardize country names in both datasets
df2 = standardizeCountryNames(rel_restricts, 'Ctry_EditorialName', countryScope)
df1 = standardizeCountryNames(world, 'Country', countryScope)

# Merge the datasets on standardized country names and Year
merged_df1 = pd.merge(rel_restricts, world, how='inner', left_on=['Ctry_EditorialName', 'Question_Year'], right_on=['Country', 'Year'])

In [14]:
# Impute NaN values with the median of each column
columns_to_impute = ['Kidnappings per 100000 people', 'Robberies per 100000 people',
                     'Thefts per 100000 people', 'Homicides per 100000 people']

for column in columns_to_impute:
    median_value = merged_df1[column].median()
    merged_df1[column].fillna(median_value, inplace=True)

# Verify that there are no more NaN values in the specified columns
nan_counts_after_imputation = merged_df1[columns_to_impute].isna().sum()
nan_counts_after_imputation

Kidnappings per 100000 people    0
Robberies per 100000 people      0
Thefts per 100000 people         0
Homicides per 100000 people      0
dtype: int64

In [15]:
merged_df1[['GRI', 'SHI']].ffill(inplace=True)

/var/folders/6v/q6n3p09s2fnb5kkshnzyl5780000gn/T/ipykernel_75048/1618893820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df1[['GRI', 'SHI']].ffill(inplace=True)

In [16]:
# Identify religious composition columns
religious_columns = [
    'People practicing Judaism as percent of the population',
    'Buddhists as percent of the total population',
    'People practicing Hinduism as percent of the population',
    'Muslims as percent of the total population',
    'Christians as percent of the total population',
    'Non religious people as percent of the population'
]

# Proportional imputation function
def proportional_imputation(df, columns):
    for index, row in df.iterrows():
        row_sum = row[columns].sum()
        missing_count = row[columns].isna().sum()
        
        if missing_count > 0:
            missing_value = (100 - row_sum) / missing_count
            for col in columns:
                if pd.isna(row[col]):
                    df.at[index, col] = missing_value
    
    return df

In [17]:
# Apply proportional imputation to the religious columns
merged_df = proportional_imputation(merged_df1, religious_columns)

In [18]:
# Impute other missing values using the mean strategy
imputer = SimpleImputer(strategy='mean')
imputed_data = imputer.fit_transform(merged_df.select_dtypes(include=['float64']))

In [19]:
# Convert the imputed data back to a DataFrame
imputed_df = pd.DataFrame(imputed_data, columns=merged_df1.select_dtypes(include=['float64']).columns)

In [20]:
# Check the number of rows after imputing missing values
print("Number of rows after imputing missing values:", imputed_df.shape[0])

Number of rows after imputing missing values: 1748

In [21]:
# Retain non-numeric columns and concatenate with imputed data
non_numeric_columns = merged_df.select_dtypes(exclude=['float64'])
imputed_df = pd.concat([non_numeric_columns.reset_index(drop=True), imputed_df.reset_index(drop=True)], axis=1)
imputed_df

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_Q_7,GRI_Q_8,GRI_Q_10,GRI_Q_11_Christianity,GRI_Q_11_Islam,...,Robberies per 100000 people,Number of prisoners per 100000 people,Thefts per 100000 people,Homicides per 100000 people,People practicing Judaism as percent of the population,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population
0,13,Europe,Europe,AUT,2007,0,0,0,0,0,...,61.0,109.000000,2101.0,0.5,2.875000,2.875000,2.875000,5.000000,83.500000,2.875000
1,13,Europe,Europe,AUT,2008,0,1,0,1,1,...,57.0,99.000000,1980.0,0.7,2.975000,2.975000,2.975000,5.000000,83.100000,2.975000
2,13,Europe,Europe,AUT,2009,0,0,0,1,1,...,55.0,104.000000,1930.0,0.6,3.075000,3.075000,3.075000,5.000000,82.700000,3.075000
3,13,Europe,Europe,AUT,2010,0,0,0,0,1,...,51.0,105.000000,1796.0,0.7,2.925000,2.925000,2.925000,6.000000,82.300000,2.925000
4,13,Europe,Europe,AUT,2011,0,0,0,0,1,...,48.0,106.000000,1713.0,0.9,3.050000,3.050000,3.050000,6.000000,81.800000,3.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1743,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2011,0,1,0,1,0,...,45.0,172.795171,480.0,2.8,6.360000,6.360000,6.360000,6.360000,68.200000,6.360000
1744,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2012,0,1,0,1,0,...,45.0,172.795171,480.0,6.7,6.280000,6.280000,6.280000,6.280000,68.600000,6.280000
1745,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2013,0,1,0,1,0,...,45.0,114.000000,480.0,2.8,6.180000,6.180000,6.180000,6.180000,69.100000,6.180000
1746,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2014,0,1,0,1,0,...,45.0,115.000000,480.0,2.8,16.666667,16.666667,16.666667,16.666667,16.666667,16.666667
1747,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2015,0,1,0,1,0,...,45.0,121.000000,480.0,2.8,16.666667,16.666667,16.666667,16.666667,16.666667,16.666667

In [22]:
# Retain non-numeric columns and concatenate with imputed data
non_numeric_columns = merged_df.select_dtypes(exclude=['float64'])
imputed_df = pd.concat([non_numeric_columns.reset_index(drop=True), imputed_df.reset_index(drop=True)], axis=1)
imputed_df

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_Q_7,GRI_Q_8,GRI_Q_10,GRI_Q_11_Christianity,GRI_Q_11_Islam,...,Robberies per 100000 people,Number of prisoners per 100000 people,Thefts per 100000 people,Homicides per 100000 people,People practicing Judaism as percent of the population,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population
0,13,Europe,Europe,AUT,2007,0,0,0,0,0,...,61.0,109.000000,2101.0,0.5,2.875000,2.875000,2.875000,5.000000,83.500000,2.875000
1,13,Europe,Europe,AUT,2008,0,1,0,1,1,...,57.0,99.000000,1980.0,0.7,2.975000,2.975000,2.975000,5.000000,83.100000,2.975000
2,13,Europe,Europe,AUT,2009,0,0,0,1,1,...,55.0,104.000000,1930.0,0.6,3.075000,3.075000,3.075000,5.000000,82.700000,3.075000
3,13,Europe,Europe,AUT,2010,0,0,0,0,1,...,51.0,105.000000,1796.0,0.7,2.925000,2.925000,2.925000,6.000000,82.300000,2.925000
4,13,Europe,Europe,AUT,2011,0,0,0,0,1,...,48.0,106.000000,1713.0,0.9,3.050000,3.050000,3.050000,6.000000,81.800000,3.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1743,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2011,0,1,0,1,0,...,45.0,172.795171,480.0,2.8,6.360000,6.360000,6.360000,6.360000,68.200000,6.360000
1744,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2012,0,1,0,1,0,...,45.0,172.795171,480.0,6.7,6.280000,6.280000,6.280000,6.280000,68.600000,6.280000
1745,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2013,0,1,0,1,0,...,45.0,114.000000,480.0,2.8,6.180000,6.180000,6.180000,6.180000,69.100000,6.180000
1746,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2014,0,1,0,1,0,...,45.0,115.000000,480.0,2.8,16.666667,16.666667,16.666667,16.666667,16.666667,16.666667
1747,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2015,0,1,0,1,0,...,45.0,121.000000,480.0,2.8,16.666667,16.666667,16.666667,16.666667,16.666667,16.666667

In [23]:
merged_df_years = merged_df1[(merged_df1['Year'] >=2009) & (merged_df1['Year'] ==2013)]

In [24]:
# Calculate the number of null values for each country across the available indicators
available_indicators =[
    'People practicing Judaism as percent of the population', 
    'Buddhists as percent of the total population', 
    'People practicing Hinduism as percent of the population', 
    'Muslims as percent of the total population', 
    'Christians as percent of the total population', 
    'Non religious people as percent of the population',
    'GRI',
    'SHI',
    'Kidnappings per 100000 people',
    'Robberies per 100000 people',
    'Thefts per 100000 people',
    'Homicides per 100000 people'
]

# Calculate the number of null values for each country across the available indicators
null_counts_per_country_available_indicators = merged_df_years.groupby('Ctry_EditorialName')[available_indicators].apply(lambda x: x.isnull().sum())

# Display the countries with the lowest null values for the available indicators
null_counts_per_country_available_indicators_sorted = null_counts_per_country_available_indicators.sum(axis=1).sort_values()
null_counts_per_country_available_indicators_sorted

Ctry_EditorialName
AFG    0
MOZ    0
MRT    0
MUS    0
MWI    0
      ..
GHA    0
GIN    0
GMB    0
GRC    0
ZWE    0
Length: 181, dtype: int64

In [25]:
average_scores2 = merged_df_years.groupby('Ctry_EditorialName')[['GRI', 'SHI']].mean()
average_scores2

                    GRI  SHI
Ctry_EditorialName
AFG                 8.0  7.8
AGO                 5.0  2.9
ALB                 2.2  0.3
AND                 1.2  0.0
ARE                 4.6  1.5
...                 ...  ...
WSM                 0.8  2.2
YEM                 5.8  7.1
ZAF                 0.7  1.0
ZMB                 2.9  1.5
ZWE                 2.8  1.5

[181 rows x 2 columns]

In [26]:
# Normalize the scores to a 1-10 scale
def normalize(series):
    return 1 + 9 * (series - series.min()) / (series.max() - series.min())

normalized_scores2 = average_scores2.apply(normalize)

# Calculate the composite score by averaging the normalized GRI and SHI scores
normalized_scores2['Composite Score'] = normalized_scores2.mean(axis=1)

# Display the normalized and composite scores
normalized_scores2

                         GRI  SHI  Composite Score
Ctry_EditorialName
AFG                 8.887640  8.8         8.843820
AGO                 5.853933  3.9         4.876966
ALB                 3.022472  1.3         2.161236
AND                 2.011236  1.0         1.505618
ARE                 5.449438  2.5         3.974719
...                      ...  ...              ...
WSM                 1.606742  3.2         2.403371
YEM                 6.662921  8.1         7.381461
ZAF                 1.505618  2.0         1.752809
ZMB                 3.730337  2.5         3.115169
ZWE                 3.629213  2.5         3.064607

[181 rows x 3 columns]

In [27]:
merged_df_years = pd.merge(merged_df_years, normalized_scores2, how='inner', left_on=['Ctry_EditorialName'], right_on=['Ctry_EditorialName'])

In [28]:
merged_df_years.sample(10)

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,Homicides per 100000 people,People practicing Judaism as percent of the population,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population,GRI_y,SHI_y,Composite Score
45,50,Sub-Saharan Africa,Sub-Saharan Africa,CIV,2013,0.7,0.8,0.0,0.33,0.00,...,2.8,4.675000,4.675000,4.675000,49.000000,32.300000,4.675000,1.505618,1.8,1.652809
111,194,Asia-Pacific,Asia-Pacific,KOR,2013,2.0,0.3,0.0,0.00,0.33,...,0.7,1.000000,17.200000,1.000000,1.000000,35.000000,44.800000,2.820225,1.3,2.060112
47,44,Americas,Latin America-Caribbean,COL,2013,1.6,2.1,0.0,0.00,0.33,...,32.6,1.475000,1.475000,1.475000,0.000000,94.100000,1.475000,2.415730,3.1,2.757865
129,184,Sub-Saharan Africa,Sub-Saharan Africa,SEN,2013,1.2,1.7,0.0,0.33,0.00,...,2.8,0.475000,0.475000,0.475000,95.000000,3.100000,0.475000,2.011236,2.7,2.355618
142,125,Asia-Pacific,Asia-Pacific,MDV,2013,6.5,3.9,1.0,1.00,1.00,...,0.8,16.666667,16.666667,16.666667,16.666667,16.666667,16.666667,7.370787,4.9,6.135393
41,49,Americas,Latin America-Caribbean,CRI,2013,3.1,0.1,0.5,0.67,0.33,...,8.7,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000,3.932584,1.1,2.516292
78,87,Americas,Latin America-Caribbean,GUY,2013,1.2,0.0,0.0,0.67,0.33,...,20.4,4.400000,4.400000,30.000000,8.000000,48.800000,4.400000,2.011236,1.0,1.505618
24,25,Americas,Latin America-Caribbean,BOL,2013,1.5,0.0,0.0,0.00,0.00,...,9.0,1.750000,1.750000,1.750000,0.000000,93.000000,1.750000,2.314607,1.0,1.657303
123,143,Sub-Saharan Africa,Sub-Saharan Africa,NAM,2013,0.4,0.0,0.0,0.33,0.00,...,2.8,6.220000,6.220000,6.220000,6.220000,68.900000,6.220000,1.202247,1.0,1.101124
3,1,Asia-Pacific,Asia-Pacific,AFG,2013,8.0,7.8,0.5,0.67,1.00,...,2.8,0.800000,0.800000,0.800000,96.000000,0.800000,0.800000,8.887640,8.8,8.843820

In [29]:
# Define the columns representing the proportion of each religion in the population
religion_columns = [
    'People practicing Judaism as percent of the population',
    'Buddhists as percent of the total population',
    'People practicing Hinduism as percent of the population',
    'Muslims as percent of the total population',
    'Christians as percent of the total population',
    'Non religious people as percent of the population'
]

# Calculate the Religious Diversity Index (RDI)
def calculate_rdi(row):
    proportions = row[religion_columns].fillna(0) / 100
    rdi = 1 - sum(proportions**2)
    return rdi

merged_df_years['RDI'] = merged_df_years.apply(calculate_rdi, axis=1)

# Average RDI for each country
average_rdi = merged_df_years.groupby('Ctry_EditorialName')['RDI'].mean()

# Display the average RDI for each selected country
average_rdi.sample(10)

Ctry_EditorialName
SUR    0.833333
CYP    0.313089
MNG    0.679399
PNG    0.387789
AND    0.833333
THA    0.101539
MLT    0.833333
MWI    0.388189
BRN    0.833333
GBR    0.573930
Name: RDI, dtype: float64

In [30]:
merged_df_years = pd.merge(merged_df_years, average_rdi, how='inner', left_on=['Ctry_EditorialName'], right_on=['Ctry_EditorialName'])

In [31]:
merged_df_years.sample(10)

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population,GRI_y,SHI_y,Composite Score,RDI_x,RDI_y
8,8,Americas,Latin America-Caribbean,ATG,2013,2.3,0.1,0.0,0.67,0.33,...,16.666667,16.666667,16.666667,16.666667,16.666667,3.123596,1.1,2.111798,0.833333,0.833333
12,21,Americas,Latin America-Caribbean,BLZ,2013,1.1,0.0,0.0,0.67,0.00,...,16.666667,16.666667,16.666667,16.666667,16.666667,1.910112,1.0,1.455056,0.833333,0.833333
117,221,Americas,North America,USA,2013,3.0,3.1,0.0,0.00,0.33,...,0.950000,0.950000,2.000000,76.000000,18.700000,3.831461,4.1,3.965730,0.386655,0.386655
101,121,Europe,Europe,MKD,2013,2.5,2.4,0.0,0.00,0.33,...,0.450000,0.450000,28.000000,70.200000,0.450000,3.325843,3.4,3.362921,0.428715,0.428715
141,124,Asia-Pacific,Asia-Pacific,MYS,2013,7.9,2.9,0.0,0.67,0.67,...,20.200000,5.800000,67.000000,7.500000,-0.250000,8.786517,3.9,6.343258,0.501294,0.501294
14,20,Europe,Europe,BEL,2013,3.8,1.6,0.5,0.67,0.33,...,31.200000,31.200000,6.000000,0.100000,31.200000,4.640449,2.6,3.620225,0.704358,0.704358
120,120,Asia-Pacific,Asia-Pacific,MAC,2013,0.8,0.0,0.5,0.67,0.00,...,16.666667,16.666667,16.666667,16.666667,16.666667,1.606742,1.0,1.303371,0.833333,0.833333
147,156,Europe,Europe,NOR,2013,2.5,2.4,0.0,0.67,0.33,...,3.400000,3.400000,4.000000,82.400000,3.400000,3.325843,3.4,3.362921,0.314800,0.314800
96,103,Asia-Pacific,Asia-Pacific,JPN,2013,1.1,2.4,0.0,0.00,0.00,...,71.300000,6.575000,6.575000,2.400000,6.575000,1.910112,3.4,2.655056,0.473763,0.473763
112,196,Asia-Pacific,Asia-Pacific,LKA,2013,5.3,8.3,0.0,0.67,0.67,...,73.200000,7.800000,8.000000,0.000000,5.500000,6.157303,9.3,7.728652,0.445642,0.445642

In [32]:
composite_score =1

# Filter data for the latest available year
latest_year = merged_df_years['Year'].max()
test = merged_df_years[(merged_df_years['Year'] == latest_year) & 
                     ((merged_df_years['Composite Score'] > composite_score))]

# Create a choropleth map
fig = px.choropleth(merged_df_years, 
                    locations="Ctry_EditorialName", 
                    locationmode='ISO-3',
                    color="Composite Score", 
                    hover_name="Ctry_EditorialName",
                    color_continuous_scale=px.colors.sequential.Plasma,
                    title="Countries with High Government Religious Restrictions")
# fig.show()
py.plot(fig, filename='world map', auto_open=True)

'https://plotly.com/~bikerdouglas/45/'

In [33]:
crime_indicators = ['Kidnappings per 100000 people',
    'Robberies per 100000 people',
    'Thefts per 100000 people',
    'Homicides per 100000 people'
    ]
# Step 2.1: Define threshold for high religious restrictions
median_restriction_score = normalized_scores2['Composite Score'].median()

# Classify countries into high and low religious restrictions groups
normalized_scores2['Religious Restriction Group'] = normalized_scores2['Composite Score'].apply(lambda x: 'High' if x >= 5 else 'Low')

# Combine the classification with average RDI and crime rates
classification = normalized_scores2[['Composite Score', 'Religious Restriction Group']]
classification['RDI'] = average_rdi
classification = classification.merge(merged_df_years.groupby('Ctry_EditorialName')[crime_indicators].mean(), left_index=True, right_index=True)

# Step 4: Compare crime rates between high restriction high diversity and high restriction low diversity groups
high_restriction = classification[classification['Religious Restriction Group'] == 'High']
high_restriction_high_diversity = high_restriction[high_restriction['RDI'] > high_restriction['RDI'].median()]
high_restriction_low_diversity = high_restriction[high_restriction['RDI'] <= high_restriction['RDI'].median()]

# Aggregate crime rates for high restriction high diversity and high restriction low diversity groups
crime_comparison_high_restriction = pd.DataFrame({
    'High Restriction High Diversity': high_restriction_high_diversity[crime_indicators].mean(),
    'High Restriction Low Diversity': high_restriction_low_diversity[crime_indicators].mean()
})
crime_comparison_high_restriction

/var/folders/6v/q6n3p09s2fnb5kkshnzyl5780000gn/T/ipykernel_75048/3399401515.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,High Restriction High Diversity,High Restriction Low Diversity
Kidnappings per 100000 people,2.104167,0.516667
Robberies per 100000 people,51.500000,38.458333
Thefts per 100000 people,545.375000,428.416667
Homicides per 100000 people,3.016667,2.975000

In [34]:
# Combine the classification with average RDI and new crime rates
classification_low_restriction = normalized_scores2[['Composite Score', 'Religious Restriction Group']]
classification_low_restriction['RDI'] = average_rdi
classification_low_restriction = classification_low_restriction.merge(merged_df_years.groupby('Ctry_EditorialName')[crime_indicators].mean(), left_index=True, right_index=True)

# Filter for low religious restrictions
low_restriction = classification_low_restriction[classification_low_restriction['Religious Restriction Group'] == 'Low']
low_restriction_high_diversity = low_restriction[low_restriction['RDI'] > low_restriction['RDI'].median()]
low_restriction_low_diversity = low_restriction[low_restriction['RDI'] <= low_restriction['RDI'].median()]

# Aggregate crime rates for low restriction high diversity and low restriction low diversity groups
crime_comparison_low_restriction = pd.DataFrame({
    'Low Restriction High Diversity': low_restriction_high_diversity[crime_indicators].mean(),
    'Low Restriction Low Diversity': low_restriction_low_diversity[crime_indicators].mean()
})
crime_comparison_low_restriction

/var/folders/6v/q6n3p09s2fnb5kkshnzyl5780000gn/T/ipykernel_75048/3734778539.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Low Restriction High Diversity,Low Restriction Low Diversity
Kidnappings per 100000 people,0.898485,0.919403
Robberies per 100000 people,77.803030,115.776119
Thefts per 100000 people,728.000000,747.507463
Homicides per 100000 people,5.540909,7.380597

In [35]:
average_rdi

Ctry_EditorialName
AFG    0.078080
AGO    0.615680
ALB    0.395809
AND    0.833333
ARE    0.097000
         ...
WSM    0.833333
YEM    0.019880
ZAF    0.547924
ZMB    0.412715
ZWE    0.503423
Name: RDI, Length: 181, dtype: float64

In [36]:
stats.ttest_ind(crime_comparison_high_restriction['High Restriction Low Diversity'], crime_comparison_low_restriction['Low Restriction High Diversity'] ,equal_var=False)

TtestResult(statistic=-0.4183542183742472, pvalue=0.6934985041490881, df=4.868805102453521)

In [37]:
high_restriction_countries = merged_df_years[merged_df_years['Composite Score']> 5]
low_restriction_countries = merged_df_years[merged_df_years['Composite Score'] <=5]

In [38]:
merged_df_years

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population,GRI_y,SHI_y,Composite Score,RDI_x,RDI_y
0,13,Europe,Europe,AUT,2013,3.1,1.9,0.5,0.67,0.33,...,3.000000,3.000000,7.000000,81.000000,3.000000,3.932584,2.9,3.416292,0.335400,0.335400
1,2,Europe,Europe,ALB,2013,2.2,0.3,0.0,0.00,0.00,...,0.075000,0.075000,73.000000,26.700000,0.075000,3.022472,1.3,2.161236,0.395809,0.395809
2,5,Europe,Europe,AND,2013,1.2,0.0,0.0,0.67,0.00,...,16.666667,16.666667,16.666667,16.666667,16.666667,2.011236,1.0,1.505618,0.833333,0.833333
3,1,Asia-Pacific,Asia-Pacific,AFG,2013,8.0,7.8,0.5,0.67,1.00,...,0.800000,0.800000,96.000000,0.800000,0.800000,8.887640,8.8,8.843820,0.078080,0.078080
4,6,Sub-Saharan Africa,Sub-Saharan Africa,AGO,2013,5.0,2.9,0.0,0.33,0.67,...,10.400000,10.400000,0.000000,58.400000,10.400000,5.853933,3.9,4.876966,0.615680,0.615680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,214,Asia-Pacific,Asia-Pacific,TKM,2013,6.4,0.4,0.0,0.00,0.67,...,0.850000,0.850000,94.000000,2.600000,0.850000,7.269663,1.4,4.334831,0.115435,0.115435
177,217,Sub-Saharan Africa,Sub-Saharan Africa,UGA,2013,3.7,4.1,0.0,0.33,0.33,...,3.925000,3.925000,16.000000,68.300000,3.925000,4.539326,5.1,4.819663,0.501749,0.501749
178,230,Middle East-North Africa,Middle East-North Africa,YEM,2013,5.8,7.1,1.0,1.00,1.00,...,0.200000,0.200000,99.000000,0.200000,0.200000,6.662921,8.1,7.381461,0.019880,0.019880
179,231,Sub-Saharan Africa,Sub-Saharan Africa,ZMB,2013,2.9,1.5,0.0,0.67,0.33,...,5.550000,5.550000,2.000000,75.800000,5.550000,3.730337,2.5,3.115169,0.412715,0.412715
180,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2013,2.8,1.5,0.0,0.67,0.33,...,6.180000,6.180000,6.180000,69.100000,6.180000,3.629213,2.5,3.064607,0.503423,0.503423

In [39]:
low_restriction_countries

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population,GRI_y,SHI_y,Composite Score,RDI_x,RDI_y
0,13,Europe,Europe,AUT,2013,3.1,1.9,0.5,0.67,0.33,...,3.000000,3.000000,7.000000,81.000000,3.000000,3.932584,2.9,3.416292,0.335400,0.335400
1,2,Europe,Europe,ALB,2013,2.2,0.3,0.0,0.00,0.00,...,0.075000,0.075000,73.000000,26.700000,0.075000,3.022472,1.3,2.161236,0.395809,0.395809
2,5,Europe,Europe,AND,2013,1.2,0.0,0.0,0.67,0.00,...,16.666667,16.666667,16.666667,16.666667,16.666667,2.011236,1.0,1.505618,0.833333,0.833333
4,6,Sub-Saharan Africa,Sub-Saharan Africa,AGO,2013,5.0,2.9,0.0,0.33,0.67,...,10.400000,10.400000,0.000000,58.400000,10.400000,5.853933,3.9,4.876966,0.615680,0.615680
6,9,Americas,Latin America-Caribbean,ARG,2013,2.0,1.4,0.5,0.67,0.00,...,0.000000,0.000000,0.000000,99.000000,0.000000,2.820225,2.4,2.610112,0.019800,0.019800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,200,Europe,Europe,SWE,2013,3.6,4.2,0.5,0.67,0.33,...,2.400000,2.400000,2.400000,88.000000,2.400000,4.438202,5.2,4.819101,0.222720,0.222720
176,214,Asia-Pacific,Asia-Pacific,TKM,2013,6.4,0.4,0.0,0.00,0.67,...,0.850000,0.850000,94.000000,2.600000,0.850000,7.269663,1.4,4.334831,0.115435,0.115435
177,217,Sub-Saharan Africa,Sub-Saharan Africa,UGA,2013,3.7,4.1,0.0,0.33,0.33,...,3.925000,3.925000,16.000000,68.300000,3.925000,4.539326,5.1,4.819663,0.501749,0.501749
179,231,Sub-Saharan Africa,Sub-Saharan Africa,ZMB,2013,2.9,1.5,0.0,0.67,0.33,...,5.550000,5.550000,2.000000,75.800000,5.550000,3.730337,2.5,3.115169,0.412715,0.412715
180,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2013,2.8,1.5,0.0,0.67,0.33,...,6.180000,6.180000,6.180000,69.100000,6.180000,3.629213,2.5,3.064607,0.503423,0.503423

In [40]:
high_restriction_countries

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population,GRI_y,SHI_y,Composite Score,RDI_x,RDI_y
3,1,Asia-Pacific,Asia-Pacific,AFG,2013,8.0,7.8,0.5,0.67,1.00,...,0.800000,0.800000,96.000000,0.800000,0.800000,8.887640,8.8,8.843820,0.078080,0.078080
5,14,Asia-Pacific,Asia-Pacific,AZE,2013,7.3,3.4,0.0,0.67,0.67,...,1.850000,1.850000,88.000000,4.600000,1.850000,8.179775,4.4,6.289888,0.222115,0.222115
7,3,Middle East-North Africa,Middle East-North Africa,DZA,2013,6.1,5.9,1.0,1.00,0.67,...,0.000000,0.000000,100.000000,0.000000,0.000000,6.966292,6.9,6.933146,0.000000,0.000000
11,10,Asia-Pacific,Asia-Pacific,ARM,2013,5.2,5.3,0.0,0.33,0.67,...,20.000000,20.000000,0.000000,20.000000,20.000000,6.056180,6.3,6.178090,0.800000,0.800000
13,16,Middle East-North Africa,Middle East-North Africa,BHR,2013,6.5,3.5,0.5,0.67,0.67,...,0.000000,0.000000,100.000000,0.000000,0.000000,7.370787,4.5,5.935393,0.000000,0.000000
17,30,Asia-Pacific,Asia-Pacific,BRN,2013,6.9,3.1,0.5,0.67,0.67,...,16.666667,16.666667,16.666667,16.666667,16.666667,7.775281,4.1,5.937640,0.833333,0.833333
19,17,Asia-Pacific,Asia-Pacific,BGD,2013,5.2,8.7,0.0,0.67,0.67,...,0.600000,11.900000,87.000000,0.800000,-0.150000,6.056180,9.7,7.878090,0.228835,0.228835
21,31,Europe,Europe,BGR,2013,5.4,3.6,0.0,0.67,0.33,...,0.066667,0.066667,12.000000,87.000000,0.066667,6.258427,4.6,5.429213,0.228635,0.228635
28,39,Sub-Saharan Africa,Sub-Saharan Africa,CAF,2013,4.2,7.6,0.5,0.67,0.67,...,6.350000,6.350000,18.000000,56.600000,6.350000,5.044944,8.6,6.822472,0.631115,0.631115
30,43,Asia-Pacific,Asia-Pacific,CHN,2013,9.1,4.4,0.5,0.67,1.00,...,16.666667,16.666667,16.666667,16.666667,16.666667,10.000000,5.4,7.700000,0.833333,0.833333
57,65,Sub-Saharan Africa,Sub-Saharan Africa,ETH,2013,4.6,4.8,0.0,0.67,0.33,...,11.775000,11.775000,37.000000,15.900000,11.775000,5.449438,5.8,5.624719,0.782359,0.782359
58,70,Europe,Europe,FRA,2013,4.2,5.1,0.5,0.67,0.33,...,4.333333,4.333333,8.000000,77.700000,4.333333,5.044944,6.1,5.572472,0.384069,0.384069
59,60,Middle East-North Africa,Middle East-North Africa,EGY,2013,8.2,7.7,0.5,0.67,1.00,...,0.100000,0.100000,90.000000,8.900000,0.600000,9.089888,8.7,8.894944,0.182032,0.182032
64,97,Middle East-North Africa,Middle East-North Africa,IRQ,2013,6.4,7.4,0.5,0.67,0.67,...,0.100000,0.100000,96.000000,3.600000,0.100000,7.269663,8.4,7.834831,0.077100,0.077100
65,79,Europe,Europe,GRC,2013,4.4,5.3,0.5,0.67,0.67,...,0.300000,0.300000,1.000000,97.800000,0.300000,5.247191,6.3,5.773596,0.043380,0.043380
70,76,Europe,Europe,DEU,2013,4.5,4.3,0.0,0.00,0.33,...,7.150000,7.150000,0.000000,71.400000,7.150000,5.348315,5.3,5.324157,0.469755,0.469755
72,100,Middle East-North Africa,Middle East-North Africa,ISR,2013,5.7,9.0,0.5,0.67,0.67,...,1.200000,1.200000,18.000000,2.200000,1.200000,6.561798,10.0,8.280899,0.386040,0.386040
76,113,Middle East-North Africa,Middle East-North Africa,LBN,2013,4.0,6.1,0.5,0.67,0.33,...,1.775000,1.775000,66.000000,26.900000,1.775000,4.842697,7.1,5.971348,0.490779,0.490779
79,106,Sub-Saharan Africa,Sub-Saharan Africa,KEN,2013,3.4,7.3,0.0,0.00,0.33,...,3.925000,3.925000,11.000000,73.300000,3.925000,4.235955,8.3,6.267978,0.444449,0.444449
81,95,Asia-Pacific,Asia-Pacific,IDN,2013,8.5,7.8,0.0,0.67,0.67,...,0.600000,2.500000,88.000000,8.700000,0.100000,9.393258,8.8,9.096629,0.217368,0.217368
85,94,Asia-Pacific,Asia-Pacific,IND,2013,5.0,9.0,0.0,0.67,0.33,...,0.800000,80.500000,13.000000,3.300000,1.200000,5.853933,10.0,7.926966,0.333634,0.333634
86,116,Middle East-North Africa,Middle East-North Africa,LBY,2013,4.7,6.9,0.5,0.67,1.00,...,0.400000,0.400000,98.000000,0.400000,0.400000,5.550562,7.9,6.725281,0.039520,0.039520
87,104,Middle East-North Africa,Middle East-North Africa,JOR,2013,6.2,2.9,0.5,0.67,0.67,...,0.075000,0.075000,96.000000,3.700000,0.075000,7.067416,3.9,5.483708,0.077029,0.077029
88,96,Asia-Pacific,Asia-Pacific,IRN,2013,8.6,5.2,0.5,0.67,1.00,...,0.250000,0.250000,99.000000,0.000000,0.250000,9.494382,6.2,7.847191,0.019875,0.019875
91,109,Middle East-North Africa,Middle East-North Africa,KWT,2013,5.4,3.6,0.5,0.67,0.67,...,1.450000,1.450000,80.000000,14.200000,1.450000,6.258427,4.6,5.429213,0.338995,0.338995
103,135,Europe,Europe,MDA,2013,4.4,3.8,0.5,0.67,0.67,...,16.666667,16.666667,16.666667,16.666667,16.666667,5.247191,4.8,5.023596,0.833333,0.833333
107,160,Middle East-North Africa,Middle East-North Africa,PSE,2013,4.5,8.8,0.5,0.67,0.67,...,16.666667,16.666667,16.666667,16.666667,16.666667,5.348315,9.8,7.574157,0.833333,0.833333
112,196,Asia-Pacific,Asia-Pacific,LKA,2013,5.3,8.3,0.0,0.67,0.67,...,73.200000,7.800000,8.000000,0.000000,5.500000,6.157303,9.3,7.728652,0.445642,0.445642
115,212,Middle East-North Africa,Middle East-North Africa,TUN,2013,4.9,5.8,0.5,0.67,0.67,...,0.000000,0.000000,100.000000,0.000000,0.000000,5.752809,6.8,6.276404,0.000000,0.000000
124,145,Asia-Pacific,Asia-Pacific,NPL,2013,3.9,5.8,0.5,0.67,0.33,...,9.000000,80.400000,5.000000,1.866667,1.866667,4.741573,6.8,5.770787,0.341939,0.341939
125,152,Sub-Saharan Africa,Sub-Saharan Africa,NGA,2013,4.1,8.7,0.0,0.00,0.67,...,2.150000,2.150000,46.000000,45.400000,2.150000,4.943820,9.7,7.321910,0.580435,0.580435
134,202,Middle East-North Africa,Middle East-North Africa,SYR,2013,7.4,7.8,0.5,0.67,0.67,...,1.400000,1.400000,87.000000,7.400000,1.400000,8.280899,8.8,8.540449,0.236840,0.236840
135,204,Asia-Pacific,Asia-Pacific,TJK,2013,6.8,2.2,0.0,0.33,0.67,...,2.000000,2.000000,90.000000,2.000000,2.000000,7.674157,3.2,5.437079,0.188000,0.188000
137,213,Asia-Pacific,Asia-Pacific,TUR,2013,7.4,4.5,0.5,0.67,0.67,...,0.133333,0.133333,99.000000,0.200000,0.133333,8.280899,5.5,6.890449,0.019875,0.019875
140,227,Asia-Pacific,Asia-Pacific,VNM,2013,6.1,3.6,0.0,0.33,0.67,...,50.400000,13.566667,0.000000,8.900000,13.566667,6.966292,4.6,5.783146,0.682847,0.682847
141,124,Asia-Pacific,Asia-Pacific,MYS,2013,7.9,2.9,0.0,0.67,0.67,...,20.200000,5.800000,67.000000,7.500000,-0.250000,8.786517,3.9,6.343258,0.501294,0.501294
142,125,Asia-Pacific,Asia-Pacific,MDV,2013,6.5,3.9,1.0,1.00,1.00,...,16.666667,16.666667,16.666667,16.666667,16.666667,7.370787,4.9,6.135393,0.833333,0.833333
146,142,Asia-Pacific,Asia-Pacific,MMR,2013,7.7,6.6,0.0,0.67,1.00,...,82.400000,0.800000,3.000000,7.400000,3.200000,8.584270,7.6,8.092135,0.312536,0.312536
149,158,Asia-Pacific,Asia-Pacific,PAK,2013,6.4,8.8,0.0,0.67,1.00,...,0.033333,0.300000,96.000000,3.600000,0.033333,7.269663,9.8,8.534831,0.077095,0.077095
150,172,Europe,Europe,ROU,2013,4.5,5.3,0.0,0.33,0.67,...,0.133333,0.133333,0.000000,98.800000,0.800000,5.348315,6.3,5.824157,0.023787,0.023787
151,173,Europe,Europe,RUS,2013,7.4,8.1,0.0,0.67,0.67,...,15.150000,15.150000,11.000000,57.600000,0.700000,8.280899,9.1,8.690449,0.610154,0.610154
156,192,Sub-Saharan Africa,Sub-Saharan Africa,SOM,2013,4.0,7.8,0.5,0.67,0.67,...,-0.125000,-0.125000,98.000000,2.500000,-0.125000,4.842697,8.8,6.821348,0.038969,0.038969
157,205,Sub-Saharan Africa,Sub-Saharan Africa,TZA,2013,3.3,7.8,0.0,0.33,0.33,...,4.925000,4.925000,36.000000,44.300000,4.925000,4.134831,8.8,6.467416,0.664449,0.664449
158,206,Asia-Pacific,Asia-Pacific,THA,2013,4.4,6.2,0.0,0.67,0.33,...,94.700000,0.233333,4.000000,0.600000,0.233333,5.247191,7.2,6.223596,0.101539,0.101539
161,224,Asia-Pacific,Asia-Pacific,UZB,2013,8.3,1.5,0.5,0.67,0.67,...,1.866667,1.866667,91.000000,2.100000,1.866667,9.191011,2.5,5.845506,0.170245,0.170245
171,183,Middle East-North Africa,Middle East-North Africa,SAU,2013,7.8,3.6,1.0,1.00,1.00,...,0.125000,0.125000,96.000000,3.500000,0.125000,8.685393,4.6,6.642697,0.077169,0.077169
172,197,Middle East-North Africa,Middle East-North Africa,SDN,2013,7.0,6.5,0.0,0.67,0.67,...,2.850000,2.850000,68.000000,20.600000,2.850000,7.876404,7.5,7.688202,0.491915,0.491915
178,230,Middle East-North Africa,Middle East-North Africa,YEM,2013,5.8,7.1,1.0,1.00,1.00,...,0.200000,0.200000,99.000000,0.200000,0.200000,6.662921,8.1,7.381461,0.019880,0.019880

In [41]:
crime_rate_columns =['Kidnappings per 100000 people',
    'Robberies per 100000 people',
    'Thefts per 100000 people',
    'Homicides per 100000 people']
# Calculate the overall average crime rates for each country without using ace_tools
overall_average_crime_rates_by_country = merged_df_years.groupby('Ctry_EditorialName')[crime_rate_columns].mean()

# Display the result
overall_average_crime_rates_by_country.sample(10)

,Kidnappings per 100000 people,Robberies per 100000 people,Thefts per 100000 people,Homicides per 100000 people
Ctry_EditorialName,,,,
YEM,0.5,45.0,480.0,6.7
EST,0.1,36.0,1247.0,3.9
MNG,0.1,22.0,276.0,7.1
SDN,0.5,45.0,480.0,2.8
BEL,10.4,1616.0,2080.0,1.8
BRA,0.2,496.0,874.0,26.8
PER,1.4,261.0,273.0,6.6
UKR,0.5,45.0,480.0,2.8
ARG,0.5,45.0,480.0,2.8
MLI,0.5,45.0,480.0,2.8

In [42]:
overall_average_crime_rates_by_country['Overall Average Crime Rates'] = overall_average_crime_rates_by_country.mean(axis=1)

In [43]:
overall_average_crime_rates_by_country

,Kidnappings per 100000 people,Robberies per 100000 people,Thefts per 100000 people,Homicides per 100000 people,Overall Average Crime Rates
Ctry_EditorialName,,,,,
AFG,0.5,45.0,480.0,2.8,132.075
AGO,0.5,45.0,480.0,2.8,132.075
ALB,0.2,13.0,182.0,4.2,49.850
AND,0.0,17.0,1319.0,0.0,334.000
ARE,1.0,8.0,26.0,0.6,8.900
...,...,...,...,...,...
WSM,0.5,45.0,480.0,3.1,132.150
YEM,0.5,45.0,480.0,6.7,133.050
ZAF,0.5,45.0,480.0,31.7,139.300
ZMB,0.5,45.0,480.0,5.7,132.800
ZWE,0.5,45.0,480.0,2.8,132.075

In [44]:
merged_df_years = pd.merge(merged_df_years, overall_average_crime_rates_by_country, how='inner', left_on=['Ctry_EditorialName'], right_on=['Ctry_EditorialName'])

In [45]:
merged_df_years

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,GRI_y,SHI_y,Composite Score,RDI_x,RDI_y,Kidnappings per 100000 people_y,Robberies per 100000 people_y,Thefts per 100000 people_y,Homicides per 100000 people_y,Overall Average Crime Rates
0,13,Europe,Europe,AUT,2013,3.1,1.9,0.5,0.67,0.33,...,3.932584,2.9,3.416292,0.335400,0.335400,0.0,44.0,1754.0,0.7,449.675
1,2,Europe,Europe,ALB,2013,2.2,0.3,0.0,0.00,0.00,...,3.022472,1.3,2.161236,0.395809,0.395809,0.2,13.0,182.0,4.2,49.850
2,5,Europe,Europe,AND,2013,1.2,0.0,0.0,0.67,0.00,...,2.011236,1.0,1.505618,0.833333,0.833333,0.0,17.0,1319.0,0.0,334.000
3,1,Asia-Pacific,Asia-Pacific,AFG,2013,8.0,7.8,0.5,0.67,1.00,...,8.887640,8.8,8.843820,0.078080,0.078080,0.5,45.0,480.0,2.8,132.075
4,6,Sub-Saharan Africa,Sub-Saharan Africa,AGO,2013,5.0,2.9,0.0,0.33,0.67,...,5.853933,3.9,4.876966,0.615680,0.615680,0.5,45.0,480.0,2.8,132.075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,214,Asia-Pacific,Asia-Pacific,TKM,2013,6.4,0.4,0.0,0.00,0.67,...,7.269663,1.4,4.334831,0.115435,0.115435,0.5,45.0,480.0,2.8,132.075
177,217,Sub-Saharan Africa,Sub-Saharan Africa,UGA,2013,3.7,4.1,0.0,0.33,0.33,...,4.539326,5.1,4.819663,0.501749,0.501749,0.9,10.0,50.0,10.3,17.800
178,230,Middle East-North Africa,Middle East-North Africa,YEM,2013,5.8,7.1,1.0,1.00,1.00,...,6.662921,8.1,7.381461,0.019880,0.019880,0.5,45.0,480.0,6.7,133.050
179,231,Sub-Saharan Africa,Sub-Saharan Africa,ZMB,2013,2.9,1.5,0.0,0.67,0.33,...,3.730337,2.5,3.115169,0.412715,0.412715,0.5,45.0,480.0,5.7,132.800
180,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2013,2.8,1.5,0.0,0.67,0.33,...,3.629213,2.5,3.064607,0.503423,0.503423,0.5,45.0,480.0,2.8,132.075

In [47]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
merged_scaled_df1 = scaler.fit_transform(merged_df_years[['GRI_y', 'SHI_y', 'RDI_y', 'People practicing Judaism as percent of the population',
    'Buddhists as percent of the total population',
    'People practicing Hinduism as percent of the population',
    'Muslims as percent of the total population',
    'Christians as percent of the total population',
    'Non religious people as percent of the population']])

In [48]:
analysis_colums = [['GRI_y', 'SHI_y', 'RDI_y', 'People practicing Judaism as percent of the population',
    'Buddhists as percent of the total population',
    'People practicing Hinduism as percent of the population',
    'Muslims as percent of the total population',
    'Christians as percent of the total population',
    'Non religious people as percent of the population']]

In [49]:
merged_scaled_df1 = pd.DataFrame(merged_scaled_df1, columns = analysis_colums)

In [50]:
merged_scaled_df1

,GRI_y,SHI_y,RDI_y,People practicing Judaism as percent of the population,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population
0,-0.070422,-0.256880,-0.272435,-0.308350,-0.372060,-0.378861,-0.576707,1.054863,-0.445053
1,-0.471529,-0.897643,-0.055502,-0.653441,-0.551341,-0.643729,1.324369,-0.467629,-0.720116
2,-0.917203,-1.017786,1.515691,1.304041,0.465607,0.858702,-0.298267,-0.748949,0.840146
3,2.113384,2.105931,-1.196496,-0.567906,-0.506904,-0.578078,1.986865,-1.193827,-0.651938
4,0.776360,0.143596,0.734077,0.564701,0.081506,0.291234,-0.778336,0.421192,0.250835
...,...,...,...,...,...,...,...,...,...
176,1.400305,-0.857595,-1.062350,-0.562007,-0.503839,-0.573550,1.929257,-1.143357,-0.647236
177,0.196983,0.624168,0.324939,-0.199219,-0.315364,-0.295099,-0.317469,0.698774,-0.358067
178,1.132900,1.825598,-1.405498,-0.638694,-0.543679,-0.632410,2.073278,-1.210650,-0.708362
179,-0.159556,-0.417071,0.005210,-0.007501,-0.215763,-0.147950,-0.720728,0.909063,-0.205253
180,-0.204124,-0.417071,0.330951,0.066826,-0.177149,-0.090901,-0.600326,0.721205,-0.146009

In [51]:
import pandas as pd
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

# Select your dependent and independent variables
X = merged_scaled_df1[['GRI_y', 'SHI_y','RDI_y', 'People practicing Judaism as percent of the population',
    'Buddhists as percent of the total population',
    'People practicing Hinduism as percent of the population',
    'Muslims as percent of the total population',
    'Christians as percent of the total population',
    'Non religious people as percent of the population']]
y = merged_df_years['Overall Average Crime Rates']

# Add a constant to the model (intercept)
X = sm.add_constant(X)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit the linear regression model
model = sm.OLS(y_train, X_train).fit()

# Print the model summary
print(model.summary())

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
r_squared = model.rsquared
print(f'R-squared: {r_squared}')

                                 OLS Regression Results
=======================================================================================
Dep. Variable:     Overall Average Crime Rates   R-squared:                       0.180
Model:                                     OLS   Adj. R-squared:                  0.132
Method:                          Least Squares   F-statistic:                     3.711
Date:                         Fri, 26 Jul 2024   Prob (F-statistic):           0.000598
Time:                                 10:09:01   Log-Likelihood:                -940.82
No. Observations:                          144   AIC:                             1900.
Df Residuals:                              135   BIC:                             1926.
Df Model:                                    8
Covariance Type:                     nonrobust
================================================================================================================================
                                                                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------------------
const                                                          197.2894     14.385     13.715      0.000     168.840     225.739
('GRI_y',)                                                      -3.5037     20.190     -0.174      0.862     -43.433      36.425
('SHI_y',)                                                       1.4119     17.173      0.082      0.935     -32.551      35.375
('RDI_y',)                                                      -9.8300     24.007     -0.409      0.683     -57.308      37.648
('People practicing Judaism as percent of the population',)    -10.8523     17.146     -0.633      0.528     -44.762      23.057
('Buddhists as percent of the total population',)              -22.8199     13.533     -1.686      0.094     -49.585       3.945
('People practicing Hinduism as percent of the population',)    -5.5149     14.836     -0.372      0.711     -34.856      23.826
('Muslims as percent of the total population',)                -24.3156     10.654     -2.282      0.024     -45.386      -3.245
('Christians as percent of the total population',)              20.2403     10.183      1.988      0.049       0.101      40.379
('Non religious people as percent of the population',)          60.8894     17.222      3.536      0.001      26.830      94.948
==============================================================================
Omnibus:                       80.896   Durbin-Watson:                   2.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              329.045
Skew:                           2.147   Prob(JB):                     3.54e-72
Kurtosis:                       9.033   Cond. No.                     8.00e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.14e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
R-squared: 0.1802732478933653