In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
import chart_studio
import chart_studio.plotly as py
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.impute import SimpleImputer
import statsmodels.api as sm
import scipy.stats as stats
import os
import chart_studio.tools

In [36]:
chart_studio.tools.set_credentials_file(username='bikerdouglas', api_key='rGRSQ7yA1eqDryDgGEEl')

In [37]:
world = pd.read_csv('/Users/michaelphillipacosta/dai/projects/religion_crimes_2/data/world_data.csv')

In [38]:
rel_restricts = pd.read_stata('/Users/michaelphillipacosta/dai/projects/religion_crimes_2/data/relig_restrict_2007to2016.dta')

In [39]:
countryScope = {
    "AUT": ["Austria"],
    "ALB": ["Albania"],
    "AND": ["Andorra"],
    "AFG": ["Afghanistan"],
    "AGO": ["Angola"],
    "AZE": ["Azerbaijan"],
    "ARG": ["Argentina"],
    "DZA": ["Algeria"],
    "ATG": ["Antigua and Barbuda"],
    "BHS": ["Bahamas"],
    "BRB": ["Barbados"],
    "ARM": ["Armenia"],
    "BLZ": ["Belize"],
    "BHR": ["Bahrain"],
    "BEL": ["Belgium"],
    "AUS": ["Australia"],
    "BEN": ["Benin"],
    "BRN": ["Brunei"],
    "BWA": ["Botswana"],
    "BGD": ["Bangladesh"],
    "BTN": ["Bhutan"],
    "BGR": ["Bulgaria"],
    "KHM": ["Cambodia"],
    "BLR": ["Belarus"],
    "BOL": ["Bolivia"],
    "BFA": ["Burkina Faso"],
    "CAN": ["Canada"],
    "BIH": ["Bosnia-Herzegovina", "Bosnia and Herzegovina"],
    "CAF": ["Central African Republic"],
    "BDI": ["Burundi"],
    "CHN": ["China", "PRC China"],
    "BRA": ["Brazil"],
    "TCD": ["Chad"],
    "COG": ["Republic of the Congo", "Congo"],
    "COM": ["Comoros"],
    "CMR": ["Cameroon"],
    "DNK": ["Denmark"],
    "COD": ["Democratic Republic of the Congo"],
    "CUB": ["Cuba"],
    "CPV": ["Cape Verde"],
    "DJI": ["Djibouti"],
    "CRI": ["Costa Rica"],
    "CZE": ["Czech Republic", "Czechia"],
    "CHL": ["Chile"],
    "DMA": ["Dominica"],
    "CIV": ["Ivory Coast"],
    "ECU": ["Ecuador"],
    "COL": ["Colombia", "Colombia (Medellin)"],
    "DOM": ["Dominican Republic"],
    "ERI": ["Eritrea"],
    "SLV": ["El Salvador"],
    "HRV": ["Croatia"],
    "GAB": ["Gabon"],
    "EST": ["Estonia"],
    "FJI": ["Fiji"],
    "CYP": ["Cyprus"],
    "GMB": ["Gambia"],
    "ETH": ["Ethiopia"],
    "FRA": ["France"],
    "EGY": ["Egypt"],
    "GEO": ["Georgia"],
    "GRD": ["Grenada"],
    "GHA": ["Ghana"],
    "GNQ": ["Equatorial Guinea"],
    "HTI": ["Haiti"],
    "IRQ": ["Iraq"],
    "GRC": ["Greece"],
    "FIN": ["Finland"],
    "HND": ["Honduras"],
    "IRL": ["Ireland"],
    "GTM": ["Guatemala"],
    "DEU": ["Germany", "German Federal Republic"],
    "HKG": ["Hong Kong"],
    "ISR": ["Israel"],
    "GNB": ["Guinea-Bissau"],
    "GIN": ["Guinea"],
    "KAZ": ["Kazakhstan"],
    "LBN": ["Lebanon"],
    "ISL": ["Iceland"],
    "GUY": ["Guyana"],
    "KEN": ["Kenya"],
    "LSO": ["Lesotho"],
    "IDN": ["Indonesia"],
    "HUN": ["Hungary"],
    "KIR": ["Kiribati"],
    "LBR": ["Liberia"],
    "JAM": ["Jamaica"],
    "IND": ["India"],
    "KSV": ["Kosovo"],
    "LBY": ["Libya"],
    "JOR": ["Jordan"],
    "IRN": ["Iran"],
    "MDG": ["Madagascar"],
    "MRT": ["Mauritania"],
    "KWT": ["Kuwait"],
    "ITA": ["Italy"],
    "MWI": ["Malawi"],
    "MUS": ["Mauritius"],
    "LAO": ["Laos"],
    "JPN": ["Japan"],
    "MYS": ["Malaysia"],
    "MEX": ["Mexico"],
    "LTU": ["Lithuania"],
    "KGZ": ["Kyrgyzstan"],
    "LVA": ["Latvia"],
    "LIE": ["Liechtenstein"],
    "LUX": ["Luxembourg"],
    "MKD": ["Republic of Macedonia", "North Macedonia"],
    "MLI": ["Mali"],
    "MHL": ["Marshall Islands"],
    "MDA": ["Moldova"],
    "MNG": ["Mongolia"],
    "NRU": ["Nauru"],
    "NLD": ["Netherlands", "The Netherlands"],
    "NER": ["Niger"],
    "PSE": ["Palestinian territories", "Palestine"],
    "PNG": ["Papua New Guinea"],
    "KNA": ["St. Kitts and Nevis"],
    "SRB": ["Serbia"],
    "SLE": ["Sierra Leone"],
    "KOR": ["South Korea"],
    "LKA": ["Sri Lanka"],
    "CHE": ["Switzerland"],
    "TWN": ["Taiwan"],
    "TON": ["Tonga"],
    "TUN": ["Tunisia"],
    "ARE": ["United Arab Emirates"],
    "USA": ["United States", "The USA", "USA", "United States of America"],
    "VEN": ["Venezuela"],
    "SSD": ["South Sudan"],
    "MAC": ["Macau", "Macao"],
    "MLT": ["Malta"],
    "FSM": ["Federated States of Micronesia", "Micronesia"],
    "MCO": ["Monaco"],
    "NAM": ["Namibia"],
    "NPL": ["Nepal"],
    "NGA": ["Nigeria"],
    "PLW": ["Palau"],
    "PAN": ["Panama"],
    "PRT": ["Portugal"],
    "QAT": ["Qatar"],
    "LCA": ["St. Lucia"],
    "VCT": ["St. Vincent and the Grenadines"],
    "SEN": ["Senegal"],
    "SYC": ["Seychelles"],
    "SGP": ["Singapore"],
    "ZAF": ["South Africa"],
    "ESP": ["Spain", "Spain (Murcia)"],
    "SYR": ["Syria"],
    "TJK": ["Tajikistan"],
    "TTO": ["Trinidad and Tobago"],
    "TUR": ["Turkey"],
    "UKR": ["Ukraine"],
    "GBR": ["United Kingdom", "Northern Ireland"],
    "VNM": ["Vietnam"],
    "ESH": ["Western Sahara"],
    "MDV": ["Maldives"],
    "MNE": ["Montenegro"],
    "MAR": ["Morocco"],
    "MOZ": ["Mozambique"],
    "MMR": ["Burma (Myanmar)", "Myanmar"],
    "NOR": ["Norway"],
    "OMN": ["Oman"],
    "PAK": ["Pakistan"],
    "ROU": ["Romania"],
    "RUS": ["Russia"],
    "RWA": ["Rwanda"],
    "SVK": ["Slovakia"],
    "SVN": ["Slovenia"],
    "SLB": ["Solomon Islands"],
    "SOM": ["Somalia"],
    "TZA": ["Tanzania"],
    "THA": ["Thailand"],
    "TLS": ["Timor-Leste"],
    "TGO": ["Togo"],
    "URY": ["Uruguay"],
    "UZB": ["Uzbekistan"],
    "VUT": ["Vanuatu"],
    "NZL": ["New Zealand"],
    "NIC": ["Nicaragua"],
    "PRY": ["Paraguay"],
    "PER": ["Peru"],
    "PHL": ["Philippines"],
    "POL": ["Poland"],
    "WSM": ["Samoa"],
    "SMR": ["San Marino"],
    "STP": ["Sao Tome and Principe"],
    "SAU": ["Saudi Arabia"],
    "SDN": ["Sudan"],
    "SUR": ["Suriname"],
    "SWZ": ["Swaziland"],
    "SWE": ["Sweden"],
    "TKM": ["Turkmenistan"],
    "TUV": ["Tuvalu"],
    "UGA": ["Uganda"],
    "YEM": ["Yemen"],
    "ZMB": ["Zambia"],
    "ZWE": ["Zimbabwe"]
    }

def standardizeCountryNames(df, country_col, country_scope):
    standardized_countries = {}
    for iso_code, names in country_scope.items():
        for name in names:
            standardized_countries[name.lower()] = iso_code
    df[country_col] = df[country_col].str.lower().map(standardized_countries).fillna(df[country_col])
    return df

# Standardize country names in both datasets
df2 = standardizeCountryNames(rel_restricts, 'Ctry_EditorialName', countryScope)
df1 = standardizeCountryNames(world, 'Country', countryScope)

# Merge the datasets on standardized country names and Year
merged_df1 = pd.merge(rel_restricts, world, how='inner', left_on=['Ctry_EditorialName', 'Question_Year'], right_on=['Country', 'Year'])

In [40]:
# Impute NaN values with the median of each column
columns_to_impute = ['Kidnappings per 100000 people', 'Robberies per 100000 people',
                     'Thefts per 100000 people', 'Homicides per 100000 people']

for column in columns_to_impute:
    median_value = merged_df1[column].median()
    merged_df1[column].fillna(median_value, inplace=True)

# Verify that there are no more NaN values in the specified columns
nan_counts_after_imputation = merged_df1[columns_to_impute].isna().sum()
nan_counts_after_imputation

Kidnappings per 100000 people    0
Robberies per 100000 people      0
Thefts per 100000 people         0
Homicides per 100000 people      0
dtype: int64

In [41]:
merged_df1[['GRI', 'SHI']].ffill(inplace=True)

/var/folders/6v/q6n3p09s2fnb5kkshnzyl5780000gn/T/ipykernel_32587/1618893820.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
# Identify religious composition columns
religious_columns = [
    'People practicing Judaism as percent of the population',
    'Buddhists as percent of the total population',
    'People practicing Hinduism as percent of the population',
    'Muslims as percent of the total population',
    'Christians as percent of the total population',
    'Non religious people as percent of the population'
]

# Proportional imputation function
def proportional_imputation(df, columns):
    for index, row in df.iterrows():
        row_sum = row[columns].sum()
        missing_count = row[columns].isna().sum()
        
        if missing_count > 0:
            missing_value = (100 - row_sum) / missing_count
            for col in columns:
                if pd.isna(row[col]):
                    df.at[index, col] = missing_value
    
    return df

In [43]:
# Apply proportional imputation to the religious columns
merged_df = proportional_imputation(merged_df1, religious_columns)

In [44]:
# Impute other missing values using the mean strategy
imputer = SimpleImputer(strategy='mean')
imputed_data = imputer.fit_transform(merged_df.select_dtypes(include=['float64']))

In [45]:
# Convert the imputed data back to a DataFrame
imputed_df = pd.DataFrame(imputed_data, columns=merged_df1.select_dtypes(include=['float64']).columns)

In [46]:
# Check the number of rows after imputing missing values
print("Number of rows after imputing missing values:", imputed_df.shape[0])

Number of rows after imputing missing values: 1748

In [47]:
# Retain non-numeric columns and concatenate with imputed data
non_numeric_columns = merged_df.select_dtypes(exclude=['float64'])
imputed_df = pd.concat([non_numeric_columns.reset_index(drop=True), imputed_df.reset_index(drop=True)], axis=1)
imputed_df

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_Q_7,GRI_Q_8,GRI_Q_10,GRI_Q_11_Christianity,GRI_Q_11_Islam,...,Robberies per 100000 people,Number of prisoners per 100000 people,Thefts per 100000 people,Homicides per 100000 people,People practicing Judaism as percent of the population,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population
0,13,Europe,Europe,AUT,2007,0,0,0,0,0,...,61.0,109.000000,2101.0,0.5,2.875000,2.875000,2.875000,5.000000,83.500000,2.875000
1,13,Europe,Europe,AUT,2008,0,1,0,1,1,...,57.0,99.000000,1980.0,0.7,2.975000,2.975000,2.975000,5.000000,83.100000,2.975000
2,13,Europe,Europe,AUT,2009,0,0,0,1,1,...,55.0,104.000000,1930.0,0.6,3.075000,3.075000,3.075000,5.000000,82.700000,3.075000
3,13,Europe,Europe,AUT,2010,0,0,0,0,1,...,51.0,105.000000,1796.0,0.7,2.925000,2.925000,2.925000,6.000000,82.300000,2.925000
4,13,Europe,Europe,AUT,2011,0,0,0,0,1,...,48.0,106.000000,1713.0,0.9,3.050000,3.050000,3.050000,6.000000,81.800000,3.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1743,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2011,0,1,0,1,0,...,45.0,172.795171,480.0,2.8,6.360000,6.360000,6.360000,6.360000,68.200000,6.360000
1744,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2012,0,1,0,1,0,...,45.0,172.795171,480.0,6.7,6.280000,6.280000,6.280000,6.280000,68.600000,6.280000
1745,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2013,0,1,0,1,0,...,45.0,114.000000,480.0,2.8,6.180000,6.180000,6.180000,6.180000,69.100000,6.180000
1746,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2014,0,1,0,1,0,...,45.0,115.000000,480.0,2.8,16.666667,16.666667,16.666667,16.666667,16.666667,16.666667
1747,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2015,0,1,0,1,0,...,45.0,121.000000,480.0,2.8,16.666667,16.666667,16.666667,16.666667,16.666667,16.666667

In [48]:
# Retain non-numeric columns and concatenate with imputed data
non_numeric_columns = merged_df.select_dtypes(exclude=['float64'])
imputed_df = pd.concat([non_numeric_columns.reset_index(drop=True), imputed_df.reset_index(drop=True)], axis=1)
imputed_df

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_Q_7,GRI_Q_8,GRI_Q_10,GRI_Q_11_Christianity,GRI_Q_11_Islam,...,Robberies per 100000 people,Number of prisoners per 100000 people,Thefts per 100000 people,Homicides per 100000 people,People practicing Judaism as percent of the population,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population
0,13,Europe,Europe,AUT,2007,0,0,0,0,0,...,61.0,109.000000,2101.0,0.5,2.875000,2.875000,2.875000,5.000000,83.500000,2.875000
1,13,Europe,Europe,AUT,2008,0,1,0,1,1,...,57.0,99.000000,1980.0,0.7,2.975000,2.975000,2.975000,5.000000,83.100000,2.975000
2,13,Europe,Europe,AUT,2009,0,0,0,1,1,...,55.0,104.000000,1930.0,0.6,3.075000,3.075000,3.075000,5.000000,82.700000,3.075000
3,13,Europe,Europe,AUT,2010,0,0,0,0,1,...,51.0,105.000000,1796.0,0.7,2.925000,2.925000,2.925000,6.000000,82.300000,2.925000
4,13,Europe,Europe,AUT,2011,0,0,0,0,1,...,48.0,106.000000,1713.0,0.9,3.050000,3.050000,3.050000,6.000000,81.800000,3.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1743,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2011,0,1,0,1,0,...,45.0,172.795171,480.0,2.8,6.360000,6.360000,6.360000,6.360000,68.200000,6.360000
1744,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2012,0,1,0,1,0,...,45.0,172.795171,480.0,6.7,6.280000,6.280000,6.280000,6.280000,68.600000,6.280000
1745,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2013,0,1,0,1,0,...,45.0,114.000000,480.0,2.8,6.180000,6.180000,6.180000,6.180000,69.100000,6.180000
1746,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2014,0,1,0,1,0,...,45.0,115.000000,480.0,2.8,16.666667,16.666667,16.666667,16.666667,16.666667,16.666667
1747,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2015,0,1,0,1,0,...,45.0,121.000000,480.0,2.8,16.666667,16.666667,16.666667,16.666667,16.666667,16.666667

In [59]:
merged_df_years = merged_df1[(merged_df1['Year'] >=2009) & (merged_df1['Year'] ==2013)]

In [60]:
# Calculate the number of null values for each country across the available indicators
available_indicators =[
    'People practicing Judaism as percent of the population', 
    'Buddhists as percent of the total population', 
    'People practicing Hinduism as percent of the population', 
    'Muslims as percent of the total population', 
    'Christians as percent of the total population', 
    'Non religious people as percent of the population',
    'GRI',
    'SHI',
    'Kidnappings per 100000 people',
    'Robberies per 100000 people',
    'Thefts per 100000 people',
    'Homicides per 100000 people'
]

# Calculate the number of null values for each country across the available indicators
null_counts_per_country_available_indicators = merged_df_years.groupby('Ctry_EditorialName')[available_indicators].apply(lambda x: x.isnull().sum())

# Display the countries with the lowest null values for the available indicators
null_counts_per_country_available_indicators_sorted = null_counts_per_country_available_indicators.sum(axis=1).sort_values()
null_counts_per_country_available_indicators_sorted

Ctry_EditorialName
AFG    0
MOZ    0
MRT    0
MUS    0
MWI    0
      ..
GHA    0
GIN    0
GMB    0
GRC    0
ZWE    0
Length: 181, dtype: int64

In [61]:
average_scores2 = merged_df_years.groupby('Ctry_EditorialName')[['GRI', 'SHI']].mean()
average_scores2

                    GRI  SHI
Ctry_EditorialName
AFG                 8.0  7.8
AGO                 5.0  2.9
ALB                 2.2  0.3
AND                 1.2  0.0
ARE                 4.6  1.5
...                 ...  ...
WSM                 0.8  2.2
YEM                 5.8  7.1
ZAF                 0.7  1.0
ZMB                 2.9  1.5
ZWE                 2.8  1.5

[181 rows x 2 columns]

In [62]:
# Normalize the scores to a 1-10 scale
def normalize(series):
    return 1 + 9 * (series - series.min()) / (series.max() - series.min())

normalized_scores2 = average_scores2.apply(normalize)

# Calculate the composite score by averaging the normalized GRI and SHI scores
normalized_scores2['Composite Score'] = normalized_scores2.mean(axis=1)

# Display the normalized and composite scores
normalized_scores2

                         GRI  SHI  Composite Score
Ctry_EditorialName
AFG                 8.887640  8.8         8.843820
AGO                 5.853933  3.9         4.876966
ALB                 3.022472  1.3         2.161236
AND                 2.011236  1.0         1.505618
ARE                 5.449438  2.5         3.974719
...                      ...  ...              ...
WSM                 1.606742  3.2         2.403371
YEM                 6.662921  8.1         7.381461
ZAF                 1.505618  2.0         1.752809
ZMB                 3.730337  2.5         3.115169
ZWE                 3.629213  2.5         3.064607

[181 rows x 3 columns]

In [74]:
merged_df_years = pd.merge(merged_df_years, normalized_scores2, how='inner', left_on=['Ctry_EditorialName'], right_on=['Ctry_EditorialName'])

In [75]:
merged_df_years.sample(10)

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population,RDI_x,RDI_y,GRI_y,SHI_y,Composite Score
1441,173,Europe,Europe,RUS,2008,6.2,4.6,0.0,0.67,0.33,...,16.150000,16.150000,10.000000,55.800000,1.500000,0.610154,0.610154,8.280899,9.1,8.690449
844,122,Sub-Saharan Africa,Sub-Saharan Africa,MDG,2007,1.8,0.0,0.0,0.33,0.33,...,12.775000,12.775000,2.000000,46.900000,12.775000,0.706579,0.706579,4.235955,1.4,2.817978
510,68,Asia-Pacific,Asia-Pacific,FJI,2007,0.9,2.6,0.0,0.67,0.00,...,-0.050000,35.000000,7.000000,54.200000,3.900000,0.576247,0.576247,2.719101,2.9,2.809551
1388,141,Sub-Saharan Africa,Sub-Saharan Africa,MOZ,2014,1.5,0.0,0.0,0.00,0.00,...,16.666667,16.666667,16.666667,16.666667,16.666667,0.729719,0.729719,2.617978,2.7,2.658989
693,86,Sub-Saharan Africa,Sub-Saharan Africa,GNB,2010,0.3,1.2,0.0,0.33,0.00,...,10.950000,10.950000,41.000000,15.200000,10.950000,0.752259,0.752259,1.606742,1.0,1.303371
717,105,Asia-Pacific,Asia-Pacific,KAZ,2014,7.5,1.3,0.0,0.67,0.67,...,16.666667,16.666667,16.666667,16.666667,16.666667,0.674469,0.674469,6.865169,2.0,4.432584
1525,223,Americas,Latin America-Caribbean,URY,2007,0.3,0.6,0.0,0.33,0.00,...,6.633333,6.633333,6.633333,65.900000,13.600000,0.521698,0.521698,1.101124,1.3,1.200562
1681,230,Middle East-North Africa,Middle East-North Africa,YEM,2007,4.3,6.2,1.0,1.00,0.33,...,0.200000,0.200000,99.000000,0.200000,0.200000,0.019880,0.019880,6.662921,8.1,7.381461
1447,173,Europe,Europe,RUS,2014,6.7,6.6,0.0,0.67,0.67,...,16.666667,16.666667,16.666667,16.666667,16.666667,0.610154,0.610154,8.280899,9.1,8.690449
1198,145,Asia-Pacific,Asia-Pacific,NPL,2012,3.5,6.0,0.5,0.67,0.33,...,8.900000,80.700000,5.000000,1.800000,1.800000,0.341939,0.341939,4.741573,6.8,5.770787

In [76]:
# Define the columns representing the proportion of each religion in the population
religion_columns = [
    'People practicing Judaism as percent of the population',
    'Buddhists as percent of the total population',
    'People practicing Hinduism as percent of the population',
    'Muslims as percent of the total population',
    'Christians as percent of the total population',
    'Non religious people as percent of the population'
]

# Calculate the Religious Diversity Index (RDI)
def calculate_rdi(row):
    proportions = row[religion_columns].fillna(0) / 100
    rdi = 1 - sum(proportions**2)
    return rdi

merged_df_years['RDI'] = merged_df_years.apply(calculate_rdi, axis=1)

# Average RDI for each country
average_rdi = merged_df_years.groupby('Ctry_EditorialName')['RDI'].mean()

# Display the average RDI for each selected country
average_rdi.sample(10)

Ctry_EditorialName
MOZ    0.765146
IRN    0.211546
NZL    0.711870
HUN    0.467523
DMA    0.833333
LBR    0.634817
LVA    0.646335
AZE    0.400340
LIE    0.833333
OMN    0.714500
Name: RDI, dtype: float64

In [77]:
merged_df_years = pd.merge(merged_df_years, average_rdi, how='inner', left_on=['Ctry_EditorialName'], right_on=['Ctry_EditorialName'])

MergeError: Passing 'suffixes' which cause duplicate columns {'RDI_x'} is not allowed.

In [78]:
merged_df_years.sample(10)

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population,RDI_x,RDI_y,GRI_y,SHI_y,Composite Score,RDI
100,18,Americas,Latin America-Caribbean,BRB,2012,1.6,0.4,0.0,0.67,0.33,...,16.666667,16.666667,16.666667,16.666667,0.833333,0.833333,2.314607,1.1,1.707303,0.833333
1422,158,Asia-Pacific,Asia-Pacific,PAK,2009,7.0,9.8,0.0,0.67,0.67,...,0.400000,96.000000,3.300000,0.100000,0.077095,0.077095,7.269663,9.8,8.534831,0.077292
1251,186,Sub-Saharan Africa,Sub-Saharan Africa,SYC,2007,1.3,0.0,0.0,0.67,0.33,...,16.666667,16.666667,16.666667,16.666667,0.833333,0.833333,3.123596,1.0,2.061798,0.833333
176,27,Sub-Saharan Africa,Sub-Saharan Africa,BWA,2012,0.5,0.9,0.0,0.67,0.00,...,7.525000,0.000000,69.900000,7.525000,0.482480,0.482480,1.505618,1.0,1.252809,0.488749
151,12,Asia-Pacific,Asia-Pacific,AUS,2015,1.1,3.8,0.0,0.33,0.00,...,16.666667,16.666667,16.666667,16.666667,0.431670,0.431670,2.213483,2.4,2.306742,0.833333
1260,186,Sub-Saharan Africa,Sub-Saharan Africa,SYC,2016,2.5,0.0,0.0,0.67,0.00,...,16.666667,16.666667,16.666667,16.666667,0.833333,0.833333,3.123596,1.0,2.061798,0.833333
1199,145,Asia-Pacific,Asia-Pacific,NPL,2013,3.9,5.8,0.5,0.67,0.33,...,80.400000,5.000000,1.866667,1.866667,0.341939,0.341939,4.741573,6.8,5.770787,0.341939
1318,213,Asia-Pacific,Asia-Pacific,TUR,2011,5.3,4.2,0.5,0.67,0.67,...,0.133333,99.000000,0.200000,0.133333,0.019875,0.019875,8.280899,5.5,6.890449,0.019875
1344,227,Asia-Pacific,Asia-Pacific,VNM,2008,6.0,2.6,0.0,0.33,0.67,...,13.400000,0.000000,8.400000,13.400000,0.682847,0.682847,6.966292,4.6,5.783146,0.674880
4,13,Europe,Europe,AUT,2011,2.5,2.9,0.5,0.67,0.33,...,3.050000,6.000000,81.800000,3.050000,0.335400,0.335400,3.932584,2.9,3.416292,0.323555

In [81]:
composite_score =1

# Filter data for the latest available year
latest_year = merged_df_years['Year'].max()
test = merged_df_years[(merged_df_years['Year'] == latest_year) & 
                     ((merged_df_years['Composite Score'] > composite_score))]

# Create a choropleth map
fig = px.choropleth(merged_df_years, 
                    locations="Ctry_EditorialName", 
                    locationmode='ISO-3',
                    color="Composite Score", 
                    hover_name="Ctry_EditorialName",
                    color_continuous_scale=px.colors.sequential.Plasma,
                    title="Countries with High Government Religious Restrictions")
# fig.show()
py.plot(fig, filename='world map', auto_open=True)

'https://plotly.com/~bikerdouglas/45/'

In [82]:
crime_indicators = ['Kidnappings per 100000 people',
    'Robberies per 100000 people',
    'Thefts per 100000 people',
    'Homicides per 100000 people'
    ]
# Step 2.1: Define threshold for high religious restrictions
median_restriction_score = normalized_scores2['Composite Score'].median()

# Classify countries into high and low religious restrictions groups
normalized_scores2['Religious Restriction Group'] = normalized_scores2['Composite Score'].apply(lambda x: 'High' if x >= 5 else 'Low')

# Combine the classification with average RDI and crime rates
classification = normalized_scores2[['Composite Score', 'Religious Restriction Group']]
classification['RDI'] = average_rdi
classification = classification.merge(merged_df_years.groupby('Ctry_EditorialName')[crime_indicators].mean(), left_index=True, right_index=True)

# Step 4: Compare crime rates between high restriction high diversity and high restriction low diversity groups
high_restriction = classification[classification['Religious Restriction Group'] == 'High']
high_restriction_high_diversity = high_restriction[high_restriction['RDI'] > high_restriction['RDI'].median()]
high_restriction_low_diversity = high_restriction[high_restriction['RDI'] <= high_restriction['RDI'].median()]

# Aggregate crime rates for high restriction high diversity and high restriction low diversity groups
crime_comparison_high_restriction = pd.DataFrame({
    'High Restriction High Diversity': high_restriction_high_diversity[crime_indicators].mean(),
    'High Restriction Low Diversity': high_restriction_low_diversity[crime_indicators].mean()
})
crime_comparison_high_restriction

/var/folders/6v/q6n3p09s2fnb5kkshnzyl5780000gn/T/ipykernel_32587/3399401515.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,High Restriction High Diversity,High Restriction Low Diversity
Kidnappings per 100000 people,1.873218,1.385278
Robberies per 100000 people,50.519560,34.380556
Thefts per 100000 people,534.689583,386.472900
Homicides per 100000 people,3.466632,3.315589

In [83]:
# Combine the classification with average RDI and new crime rates
classification_low_restriction = normalized_scores2[['Composite Score', 'Religious Restriction Group']]
classification_low_restriction['RDI'] = average_rdi
classification_low_restriction = classification_low_restriction.merge(merged_df_years.groupby('Ctry_EditorialName')[crime_indicators].mean(), left_index=True, right_index=True)

# Filter for low religious restrictions
low_restriction = classification_low_restriction[classification_low_restriction['Religious Restriction Group'] == 'Low']
low_restriction_high_diversity = low_restriction[low_restriction['RDI'] > low_restriction['RDI'].median()]
low_restriction_low_diversity = low_restriction[low_restriction['RDI'] <= low_restriction['RDI'].median()]

# Aggregate crime rates for low restriction high diversity and low restriction low diversity groups
crime_comparison_low_restriction = pd.DataFrame({
    'Low Restriction High Diversity': low_restriction_high_diversity[crime_indicators].mean(),
    'Low Restriction Low Diversity': low_restriction_low_diversity[crime_indicators].mean()
})
crime_comparison_low_restriction

/var/folders/6v/q6n3p09s2fnb5kkshnzyl5780000gn/T/ipykernel_32587/3734778539.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Low Restriction High Diversity,Low Restriction Low Diversity
Kidnappings per 100000 people,1.197323,0.845966
Robberies per 100000 people,74.354251,106.019610
Thefts per 100000 people,736.611616,716.948839
Homicides per 100000 people,6.308996,8.866750

In [84]:
average_rdi

Ctry_EditorialName
AFG    0.298908
AGO    0.667535
ALB    0.526100
AND    0.833333
ARE    0.317900
         ...
WSM    0.833333
YEM    0.019880
ZAF    0.635222
ZMB    0.540075
ZWE    0.589774
Name: RDI, Length: 181, dtype: float64

In [85]:
stats.ttest_ind(crime_comparison_high_restriction['High Restriction Low Diversity'], crime_comparison_low_restriction['Low Restriction High Diversity'] ,equal_var=False)

TtestResult(statistic=-0.4881189959576308, pvalue=0.6481088450705051, df=4.541433813584218)

In [87]:
high_restriction_countries = merged_df_years[merged_df_years['Composite Score']> 5]
low_restriction_countries = merged_df_years[merged_df_years['Composite Score'] <=5]

In [88]:
merged_df_years

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population,RDI_x,RDI_y,GRI_y,SHI_y,Composite Score,RDI
0,13,Europe,Europe,AUT,2007,2.6,1.1,0.5,0.67,0.33,...,2.875000,5.000000,83.500000,2.875000,0.335400,0.335400,3.932584,2.9,3.416292,0.296969
1,13,Europe,Europe,AUT,2008,3.6,1.7,0.5,0.67,0.33,...,2.975000,5.000000,83.100000,2.975000,0.335400,0.335400,3.932584,2.9,3.416292,0.303399
2,13,Europe,Europe,AUT,2009,3.3,1.7,0.5,0.67,0.33,...,3.075000,5.000000,82.700000,3.075000,0.335400,0.335400,3.932584,2.9,3.416292,0.309789
3,13,Europe,Europe,AUT,2010,3.2,1.9,0.5,0.67,0.33,...,2.925000,6.000000,82.300000,2.925000,0.335400,0.335400,3.932584,2.9,3.416292,0.315649
4,13,Europe,Europe,AUT,2011,2.5,2.9,0.5,0.67,0.33,...,3.050000,6.000000,81.800000,3.050000,0.335400,0.335400,3.932584,2.9,3.416292,0.323555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1702,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2011,3.6,1.7,0.0,0.67,0.33,...,6.360000,6.360000,68.200000,6.360000,0.503423,0.503423,3.629213,2.5,3.064607,0.514651
1703,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2012,2.5,1.5,0.0,0.67,0.33,...,6.280000,6.280000,68.600000,6.280000,0.503423,0.503423,3.629213,2.5,3.064607,0.509685
1704,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2013,2.8,1.5,0.0,0.67,0.33,...,6.180000,6.180000,69.100000,6.180000,0.503423,0.503423,3.629213,2.5,3.064607,0.503423
1705,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2014,3.4,2.4,0.0,0.67,0.33,...,16.666667,16.666667,16.666667,16.666667,0.503423,0.503423,3.629213,2.5,3.064607,0.833333
1706,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2015,2.8,1.4,0.0,0.67,0.33,...,16.666667,16.666667,16.666667,16.666667,0.503423,0.503423,3.629213,2.5,3.064607,0.833333

In [89]:
low_restriction_countries

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population,RDI_x,RDI_y,GRI_y,SHI_y,Composite Score,RDI
0,13,Europe,Europe,AUT,2007,2.6,1.1,0.5,0.67,0.33,...,2.875000,5.000000,83.500000,2.875000,0.335400,0.335400,3.932584,2.9,3.416292,0.296969
1,13,Europe,Europe,AUT,2008,3.6,1.7,0.5,0.67,0.33,...,2.975000,5.000000,83.100000,2.975000,0.335400,0.335400,3.932584,2.9,3.416292,0.303399
2,13,Europe,Europe,AUT,2009,3.3,1.7,0.5,0.67,0.33,...,3.075000,5.000000,82.700000,3.075000,0.335400,0.335400,3.932584,2.9,3.416292,0.309789
3,13,Europe,Europe,AUT,2010,3.2,1.9,0.5,0.67,0.33,...,2.925000,6.000000,82.300000,2.925000,0.335400,0.335400,3.932584,2.9,3.416292,0.315649
4,13,Europe,Europe,AUT,2011,2.5,2.9,0.5,0.67,0.33,...,3.050000,6.000000,81.800000,3.050000,0.335400,0.335400,3.932584,2.9,3.416292,0.323555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1702,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2011,3.6,1.7,0.0,0.67,0.33,...,6.360000,6.360000,68.200000,6.360000,0.503423,0.503423,3.629213,2.5,3.064607,0.514651
1703,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2012,2.5,1.5,0.0,0.67,0.33,...,6.280000,6.280000,68.600000,6.280000,0.503423,0.503423,3.629213,2.5,3.064607,0.509685
1704,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2013,2.8,1.5,0.0,0.67,0.33,...,6.180000,6.180000,69.100000,6.180000,0.503423,0.503423,3.629213,2.5,3.064607,0.503423
1705,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2014,3.4,2.4,0.0,0.67,0.33,...,16.666667,16.666667,16.666667,16.666667,0.503423,0.503423,3.629213,2.5,3.064607,0.833333
1706,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2015,2.8,1.4,0.0,0.67,0.33,...,16.666667,16.666667,16.666667,16.666667,0.503423,0.503423,3.629213,2.5,3.064607,0.833333

In [90]:
high_restriction_countries

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population,RDI_x,RDI_y,GRI_y,SHI_y,Composite Score,RDI
29,1,Asia-Pacific,Asia-Pacific,AFG,2007,5.3,8.5,0.5,0.67,0.67,...,0.6,97.0,0.6,0.6,0.07808,0.07808,8.887640,8.8,8.843820,0.05892
30,1,Asia-Pacific,Asia-Pacific,AFG,2008,5.3,7.8,0.5,0.67,0.67,...,0.6,97.0,0.6,0.6,0.07808,0.07808,8.887640,8.8,8.843820,0.05892
31,1,Asia-Pacific,Asia-Pacific,AFG,2009,6.5,8.6,0.5,0.67,1.00,...,0.6,97.0,0.6,0.6,0.07808,0.07808,8.887640,8.8,8.843820,0.05892
32,1,Asia-Pacific,Asia-Pacific,AFG,2010,8.0,7.7,0.5,0.67,0.67,...,0.8,96.0,0.8,0.8,0.07808,0.07808,8.887640,8.8,8.843820,0.07808
33,1,Asia-Pacific,Asia-Pacific,AFG,2011,8.0,7.4,0.5,0.67,1.00,...,0.8,96.0,0.8,0.8,0.07808,0.07808,8.887640,8.8,8.843820,0.07808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1683,230,Middle East-North Africa,Middle East-North Africa,YEM,2009,6.4,7.3,1.0,1.00,0.67,...,0.2,99.0,0.2,0.2,0.01988,0.01988,6.662921,8.1,7.381461,0.01988
1684,230,Middle East-North Africa,Middle East-North Africa,YEM,2010,7.0,7.8,1.0,1.00,1.00,...,0.2,99.0,0.2,0.2,0.01988,0.01988,6.662921,8.1,7.381461,0.01988
1685,230,Middle East-North Africa,Middle East-North Africa,YEM,2011,6.9,7.6,1.0,1.00,1.00,...,0.2,99.0,0.2,0.2,0.01988,0.01988,6.662921,8.1,7.381461,0.01988
1686,230,Middle East-North Africa,Middle East-North Africa,YEM,2012,6.3,8.4,1.0,1.00,1.00,...,0.2,99.0,0.2,0.2,0.01988,0.01988,6.662921,8.1,7.381461,0.01988
1687,230,Middle East-North Africa,Middle East-North Africa,YEM,2013,5.8,7.1,1.0,1.00,1.00,...,0.2,99.0,0.2,0.2,0.01988,0.01988,6.662921,8.1,7.381461,0.01988

In [91]:
crime_rate_columns =['Kidnappings per 100000 people',
    'Robberies per 100000 people',
    'Thefts per 100000 people',
    'Homicides per 100000 people']
# Calculate the overall average crime rates for each country without using ace_tools
overall_average_crime_rates_by_country = merged_df_years.groupby('Ctry_EditorialName')[crime_rate_columns].mean()

# Display the result
overall_average_crime_rates_by_country.sample(10)

,Kidnappings per 100000 people,Robberies per 100000 people,Thefts per 100000 people,Homicides per 100000 people
Ctry_EditorialName,,,,
LBR,0.500000,45.000000,480.000000,3.437500
GEO,0.355556,32.555556,384.111111,3.888889
PAN,0.680000,213.000000,490.600000,13.680000
IND,2.470000,15.100000,162.800000,3.670000
BRB,4.160000,135.700000,718.900000,8.860000
HUN,0.100000,29.000000,1131.000000,1.640000
NAM,0.500000,45.000000,480.000000,11.100000
SWE,0.500000,94.000000,4036.100000,0.970000
KEN,0.230000,7.500000,25.600000,4.630000
ROU,1.000000,15.600000,353.900000,1.770000

In [92]:
overall_average_crime_rates_by_country['Overall Average Crime Rates'] = overall_average_crime_rates_by_country.mean(axis=1)

In [93]:
overall_average_crime_rates_by_country

,Kidnappings per 100000 people,Robberies per 100000 people,Thefts per 100000 people,Homicides per 100000 people,Overall Average Crime Rates
Ctry_EditorialName,,,,,
AFG,0.500000,45.000000,480.000000,4.560000,132.515000
AGO,0.500000,45.000000,480.000000,3.966667,132.366667
ALB,0.210000,7.900000,169.300000,3.850000,45.315000
AND,0.155556,9.555556,1282.222222,0.266667,323.050000
ARE,0.680000,26.200000,278.500000,1.330000,76.677500
...,...,...,...,...,...
WSM,0.500000,45.000000,480.000000,4.514286,132.503571
YEM,0.357143,26.428571,480.000000,5.100000,127.971429
ZAF,2.200000,45.000000,480.000000,32.900000,140.025000
ZMB,0.500000,45.000000,480.000000,5.110000,132.652500
ZWE,0.777778,50.000000,532.111111,3.477778,146.591667

In [94]:
merged_df_years = pd.merge(merged_df_years, overall_average_crime_rates_by_country, how='inner', left_on=['Ctry_EditorialName'], right_on=['Ctry_EditorialName'])

In [96]:
merged_df_years

,Nation_fk,Region5,Region6,Ctry_EditorialName,Question_Year,GRI_x,SHI_x,GRI_Q_1,GRI_Q_2,GRI_Q_3,...,RDI_y,GRI_y,SHI_y,Composite Score,RDI,Kidnappings per 100000 people_y,Robberies per 100000 people_y,Thefts per 100000 people_y,Homicides per 100000 people_y,Overall Average Crime Rates
0,13,Europe,Europe,AUT,2007,2.6,1.1,0.5,0.67,0.33,...,0.335400,3.932584,2.9,3.416292,0.296969,0.060000,48.1,1801.800000,0.670000,462.657500
1,13,Europe,Europe,AUT,2008,3.6,1.7,0.5,0.67,0.33,...,0.335400,3.932584,2.9,3.416292,0.303399,0.060000,48.1,1801.800000,0.670000,462.657500
2,13,Europe,Europe,AUT,2009,3.3,1.7,0.5,0.67,0.33,...,0.335400,3.932584,2.9,3.416292,0.309789,0.060000,48.1,1801.800000,0.670000,462.657500
3,13,Europe,Europe,AUT,2010,3.2,1.9,0.5,0.67,0.33,...,0.335400,3.932584,2.9,3.416292,0.315649,0.060000,48.1,1801.800000,0.670000,462.657500
4,13,Europe,Europe,AUT,2011,2.5,2.9,0.5,0.67,0.33,...,0.335400,3.932584,2.9,3.416292,0.323555,0.060000,48.1,1801.800000,0.670000,462.657500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1702,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2011,3.6,1.7,0.0,0.67,0.33,...,0.503423,3.629213,2.5,3.064607,0.514651,0.777778,50.0,532.111111,3.477778,146.591667
1703,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2012,2.5,1.5,0.0,0.67,0.33,...,0.503423,3.629213,2.5,3.064607,0.509685,0.777778,50.0,532.111111,3.477778,146.591667
1704,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2013,2.8,1.5,0.0,0.67,0.33,...,0.503423,3.629213,2.5,3.064607,0.503423,0.777778,50.0,532.111111,3.477778,146.591667
1705,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2014,3.4,2.4,0.0,0.67,0.33,...,0.503423,3.629213,2.5,3.064607,0.833333,0.777778,50.0,532.111111,3.477778,146.591667
1706,232,Sub-Saharan Africa,Sub-Saharan Africa,ZWE,2015,2.8,1.4,0.0,0.67,0.33,...,0.503423,3.629213,2.5,3.064607,0.833333,0.777778,50.0,532.111111,3.477778,146.591667

In [103]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
merged_scaled_df1 = scaler.fit_transform(merged_df_years[['GRI_y', 'SHI_y', 'RDI', 'People practicing Judaism as percent of the population',
    'Buddhists as percent of the total population',
    'People practicing Hinduism as percent of the population',
    'Muslims as percent of the total population',
    'Christians as percent of the total population',
    'Non religious people as percent of the population']])

In [104]:
analysis_colums = [['GRI_y', 'SHI_y', 'RDI', 'People practicing Judaism as percent of the population',
    'Buddhists as percent of the total population',
    'People practicing Hinduism as percent of the population',
    'Muslims as percent of the total population',
    'Christians as percent of the total population',
    'Non religious people as percent of the population']]

In [105]:
merged_scaled_df1 = pd.DataFrame(merged_scaled_df1, columns = analysis_colums)

In [106]:
merged_scaled_df1

,GRI_y,SHI_y,RDI,People practicing Judaism as percent of the population,Buddhists as percent of the total population,People practicing Hinduism as percent of the population,Muslims as percent of the total population,Christians as percent of the total population,Non religious people as percent of the population
0,-0.057405,-0.251508,-0.737296,-0.641792,-0.565606,-0.653365,-0.636592,1.425773,-0.725479
1,-0.057405,-0.251508,-0.716062,-0.630392,-0.558613,-0.643675,-0.636592,1.413598,-0.715269
2,-0.057405,-0.251508,-0.694961,-0.618993,-0.551620,-0.633985,-0.636592,1.401422,-0.705058
3,-0.057405,-0.251508,-0.675609,-0.636092,-0.562110,-0.648520,-0.603564,1.389246,-0.720374
4,-0.057405,-0.251508,-0.649500,-0.621843,-0.553368,-0.636407,-0.603564,1.374026,-0.707611
...,...,...,...,...,...,...,...,...,...
1702,-0.192502,-0.412243,-0.018446,-0.244532,-0.321896,-0.315665,-0.591674,0.960052,-0.369637
1703,-0.192502,-0.412243,-0.034846,-0.253651,-0.327491,-0.323417,-0.594316,0.972228,-0.377806
1704,-0.192502,-0.412243,-0.055525,-0.265050,-0.334484,-0.333107,-0.597619,0.987448,-0.388016
1705,-0.192502,-0.412243,1.033934,0.930339,0.398860,0.683059,-0.251259,-0.608585,0.682743
1706,-0.192502,-0.412243,1.033934,0.930339,0.398860,0.683059,-0.251259,-0.608585,0.682743

In [107]:
import pandas as pd
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

# Select your dependent and independent variables
X = merged_scaled_df1[['GRI_y', 'SHI_y','RDI', 'People practicing Judaism as percent of the population',
    'Buddhists as percent of the total population',
    'People practicing Hinduism as percent of the population',
    'Muslims as percent of the total population',
    'Christians as percent of the total population',
    'Non religious people as percent of the population']]
y = merged_df_years['Overall Average Crime Rates']

# Add a constant to the model (intercept)
X = sm.add_constant(X)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit the linear regression model
model = sm.OLS(y_train, X_train).fit()

# Print the model summary
print(model.summary())

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
r_squared = model.rsquared
print(f'R-squared: {r_squared}')

                                 OLS Regression Results
=======================================================================================
Dep. Variable:     Overall Average Crime Rates   R-squared:                       0.140
Model:                                     OLS   Adj. R-squared:                  0.135
Method:                          Least Squares   F-statistic:                     27.53
Date:                         Fri, 26 Jul 2024   Prob (F-statistic):           7.06e-40
Time:                                 09:31:29   Log-Likelihood:                -8892.6
No. Observations:                         1365   AIC:                         1.780e+04
Df Residuals:                             1356   BIC:                         1.785e+04
Df Model:                                    8
Covariance Type:                     nonrobust
================================================================================================================================
                                                                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------------------
const                                                          188.9998      4.439     42.581      0.000     180.293     197.707
('GRI_y',)                                                     -15.1438      5.809     -2.607      0.009     -26.539      -3.749
('SHI_y',)                                                       3.2810      5.412      0.606      0.544      -7.335      13.897
('RDI',)                                                        -6.1302      8.968     -0.684      0.494     -23.722      11.462
('People practicing Judaism as percent of the population',)    -12.2888      6.197     -1.983      0.048     -24.446      -0.131
('Buddhists as percent of the total population',)              -18.8273      4.355     -4.323      0.000     -27.371     -10.283
('People practicing Hinduism as percent of the population',)    -5.8410      5.614     -1.040      0.298     -16.854       5.172
('Muslims as percent of the total population',)                -19.3853      3.402     -5.698      0.000     -26.060     -12.711
('Christians as percent of the total population',)              16.0674      3.232      4.971      0.000       9.727      22.408
('Non religious people as percent of the population',)          50.6841      5.706      8.883      0.000      39.491      61.877
==============================================================================
Omnibus:                      690.267   Durbin-Watson:                   2.016
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4077.491
Skew:                           2.350   Prob(JB):                         0.00
Kurtosis:                      10.043   Cond. No.                     5.77e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.34e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
R-squared: 0.13973252883169984